This notebook contains code designed for data inspection and filtering, with the goal of creating classification datasets suitable for machine learning predictive tasks. Specifically, we replicate the steps used for the 2022 database, with filters numbers following it. This enables us to use the resulting datasets as validation sets for models trained with data from the main datasets. For comprehensive details about these datasets, including information about data collection methods, sources, and a dictionary of variables, please refer to the project repository on GitHub: \url{https://github.com/gabivaleriano/HealthDataBR}

In [1]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.2     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.2     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [2]:
data <- read.csv("CHIKBR20.csv")

### Filter 1: remove duplicates

In [3]:
# check and remove duplicates

data %>% dim
data %>% unique %>% dim
data %>% unique -> data

[1] 102496    116

[1] 102369    116

In [4]:
# inspecting data distribution according to state

data %>% count(SG_UF_NOT)

   SG_UF_NOT n
1  11         1079
2  12          275
3  13          124
4  14          155
5  15         1968
6  16           44
7  17          427
8  21          250
9  22          295
10 23         3757
11 24         7803
12 25         2431
13 26         8675
14 27          290
15 28         4997
16 29        47018
17 31         5122
18 32         4882
19 33         5919
20 35         2239
21 41          706
22 42          668
23 43          266
24 50          426
25 51          804
26 52          182
27 53         1567

In [5]:
# visualize data

data %>% head
data %>% colnames

  TP_NOT ID_AGRAVO DT_NOTIFIC SEM_NOT NU_ANO SG_UF_NOT ID_MUNICIP ID_REGIONA
1 2      A92.0     2020-06-04 202023  2020   12        120040     1938
2 2      A92.0     2020-06-01 202023  2020   12        120040     1938
3 2      A92.0     2020-09-24 202039  2020   12        120020     1941
4 2      A92.0     2020-06-02 202023  2020   12        120040     1938
5 2      A92.0     2020-02-05 202006  2020   12        120010     1937
6 2      A92.0     2020-01-29 202005  2020   12        120020     1941
  ID_UNIDADE DT_SIN_PRI ⋯ HEMATURA SANGRAM LACO_N PLASMATICO EVIDENCIA
1 2000490    2020-05-27 ⋯ NA       NA      NA     NA         NA
2 2001578    2020-05-20 ⋯ NA       NA      NA     NA         NA
3 6788637    2020-09-01 ⋯ NA       NA      NA     NA         NA
4 2000075    2020-05-25 ⋯ NA       NA      NA     NA         NA
5 2001500    2020-02-03 ⋯ NA       NA      NA     NA         NA
6 6801099    2020-01-20 ⋯ NA       NA      NA     NA         NA
  PLAQ_MENOR CON_FHD COMPLICA TP_SISTEMA NDUPLIC_N
1 NA         NA      NA       2          NA
2 NA         NA      NA       2          NA
3 NA         NA      NA       2          NA
4 NA         NA      NA       2          NA
5 NA         NA      NA       2          NA
6 NA         NA      NA       2          NA

  [1] "TP_NOT"     "ID_AGRAVO"  "DT_NOTIFIC" "SEM_NOT"    "NU_ANO"
  [6] "SG_UF_NOT"  "ID_MUNICIP" "ID_REGIONA" "ID_UNIDADE" "DT_SIN_PRI"
 [11] "SEM_PRI"    "NU_IDADE_N" "CS_SEXO"    "CS_GESTANT" "CS_RACA"
 [16] "CS_ESCOL_N" "SG_UF"      "ID_MN_RESI" "ID_RG_RESI" "ID_PAIS"
 [21] "DT_INVEST"  "ID_OCUPA_N" "FEBRE"      "MIALGIA"    "CEFALEIA"
 [26] "EXANTEMA"   "VOMITO"     "NAUSEA"     "DOR_COSTAS" "CONJUNTVIT"
 [31] "ARTRITE"    "ARTRALGIA"  "PETEQUIA_N" "LEUCOPENIA" "LACO"
 [36] "DOR_RETRO"  "DIABETES"   "HEMATOLOG"  "HEPATOPAT"  "RENAL"
 [41] "HIPERTENSA" "ACIDO_PEPT" "AUTO_IMUNE" "DT_CHIK_S1" "DT_CHIK_S2"
 [46] "DT_PRNT"    "RES_CHIKS1" "RES_CHIKS2" "RESUL_PRNT" "DT_SORO"
 [51] "RESUL_SORO" "DT_NS1"     "RESUL_NS1"  "DT_VIRAL"   "RESUL_VI_N"
 [56] "DT_PCR"     "RESUL_PCR_" "SOROTIPO"   "HISTOPA_N"  "IMUNOH_N"
 [61] "HOSPITALIZ" "DT_INTERNA" "UF"         "MUNICIPIO"  "TPAUTOCTO"
 [66] "COUFINF"    "COPAISINF"  "COMUNINF"   "CLASSI_FIN" "CRITERIO"
 [71] "DOENCA_TRA" "CLINC_CHIK" "EVOLUCAO"   "DT_OBITO"   "DT_ENCERRA"
 [76] "ALRM_HIPOT" "ALRM_PLAQ"  "ALRM_VOM"   "ALRM_SANG"  "ALRM_HEMAT"
 [81] "ALRM_ABDOM" "ALRM_LETAR" "ALRM_HEPAT" "ALRM_LIQ"   "DT_ALRM"
 [86] "GRAV_PULSO" "GRAV_CONV"  "GRAV_ENCH"  "GRAV_INSUF" "GRAV_TAQUI"
 [91] "GRAV_EXTRE" "GRAV_HIPOT" "GRAV_HEMAT" "GRAV_MELEN" "GRAV_METRO"
 [96] "GRAV_SANG"  "GRAV_AST"   "GRAV_MIOC"  "GRAV_CONSC" "GRAV_ORGAO"
[101] "DT_GRAV"    "MANI_HEMOR" "EPISTAXE"   "GENGIVO"    "METRO"
[106] "PETEQUIAS"  "HEMATURA"   "SANGRAM"    "LACO_N"     "PLASMATICO"
[111] "EVIDENCIA"  "PLAQ_MENOR" "CON_FHD"    "COMPLICA"   "TP_SISTEMA"
[116] "NDUPLIC_N"

In [6]:
# since ano-nasc is not present is this database, age will be computed from nu_idade_n

data %>% count(NU_IDADE_N) %>% head

  NU_IDADE_N n
1  0         1
2  3         1
3  9         1
4 10         1
5 19         1
6 27         2

In [7]:
# the information must contain at least 4 digits
# when it starts with 10 - hours, 20 - days, 30 - months, 40 - years 

# remove information with less than 4 digits

data %>% filter(NU_IDADE_N > 1000) %>% count(NU_IDADE_N) %>% head

data %>% filter(NU_IDADE_N > 1000) -> data

  NU_IDADE_N n
1 1078         1
2 2001       868
3 2002        20
4 2003        16
5 2004         9
6 2005        17

In [8]:
# remove information that is not coherent

data %>% filter(!(NU_IDADE_N > 2030 & NU_IDADE_N < 3000)) %>% filter(NU_IDADE_N> 2025) %>% 
    count(NU_IDADE_N) %>% head

data %>% filter(!(NU_IDADE_N > 2030 & NU_IDADE_N < 3000)) -> data

  NU_IDADE_N n
1 2026         5
2 2027         4
3 2028         6
4 2029         9
5 2030         4
6 3001       100

In [9]:
# remove information that is not coherent

data %>% filter(!(NU_IDADE_N > 3012 & NU_IDADE_N < 4000)) %>% filter(NU_IDADE_N> 3010) %>% 
    count(NU_IDADE_N) %>% head

data %>% filter(!(NU_IDADE_N > 3012 & NU_IDADE_N < 4000)) ->data

  NU_IDADE_N n
1 3011        53
2 4001       415
3 4002       430
4 4003       501
5 4004       535
6 4005       625

In [10]:
# transform in years 

# if is less than 4000 the patient has not complete one year
data %>% mutate(age = ifelse(NU_IDADE_N < 4000, 0, (NU_IDADE_N - round(NU_IDADE_N, -2)))) %>% 
    select(age, NU_IDADE_N) %>% head

data %>% mutate(age = ifelse(NU_IDADE_N < 4000, 0, (NU_IDADE_N - 4000))) -> data

  age NU_IDADE_N
1 48  4048
2  7  4007
3 26  4026
4 44  4044
5  8  4008
6 11  4011

In [11]:
# inspect possible target features

data %>% count(EVOLUCAO)
data %>% count(HOSPITALIZ)
data %>% count(CLASSI_FIN)

data %>% dim

  EVOLUCAO n
1  1       62702
2  2          30
3  3         166
4  4          21
5  9        5286
6 NA       34142

  HOSPITALIZ n
1  1          3217
2  2         49738
3  9          1806
4 NA         47586

  CLASSI_FIN n
1  5         28478
2 13         43939
3 NA         29930

[1] 102347    117

In [12]:
# check how many regions, states and cities are present in the database

data %>% select(ID_REGIONA) %>% unique %>% dim
data %>% select(ID_MUNICIP) %>% unique %>% dim
data %>% select(SG_UF_NOT) %>% unique %>% dim
data %>% select(SG_UF) %>% unique %>% dim

data %>% select(ID_MN_RESI) %>% unique %>% dim
data %>% select(ID_PAIS) %>% unique %>% dim
data %>% select(ID_RG_RESI) %>% unique %>% dim

data %>% select(ID_UNIDADE) %>% unique %>% dim

data %>% select(UF) %>% unique %>% dim
data %>% select(MUNICIPIO) %>% unique %>% dim

[1] 292   1

[1] 2063    1

[1] 27  1

[1] 27  1

[1] 2444    1

[1] 1 1

[1] 300   1

[1] 8835    1

[1] 28  1

[1] 423   1

### Delete columns

In [13]:
#keep only id related with the city

data %>% select(-c(ID_REGIONA, ID_MUNICIP, SG_UF, ID_PAIS, ID_RG_RESI, UF, MUNICIPIO)) -> data

# mostly NA values

data %>% count(TPAUTOCTO)
data %>% count(COPAISINF)
data %>% count(COMUNINF) 
data %>% count(TP_SISTEMA)

data %>% count(NDUPLIC_N)
data %>% count(COMPLICA)
data %>% count(CON_FHD)

data %>% count(SOROTIPO)
data %>% count(HISTOPA_N)
data %>% count(IMUNOH_N)
data %>% count(DOENCA_TRA)
data %>% count(ALRM_HIPOT)

data %>% count(TP_NOT)
data %>% count(ID_AGRAVO)
data %>% count(NU_ANO)


data %>% select(-c(TP_NOT, ID_AGRAVO, NU_ANO)) -> data
data %>% select(-c(TPAUTOCTO, COPAISINF, COUFINF, COMUNINF)) -> data
data %>% select(-c(TP_SISTEMA)) -> data
data %>% select(-c(NDUPLIC_N, COMPLICA, CON_FHD)) -> data
data %>% select(-c(SOROTIPO, HISTOPA_N, IMUNOH_N, DOENCA_TRA, ALRM_HIPOT)) -> data
data %>% select(-c(NU_IDADE_N)) -> data

# this dates usually are the same and refer to the date of digitalization

data %>% select(-c(DT_NOTIFIC, DT_ENCERRA, DT_INVEST, CRITERIO)) -> data

data %>% select(ALRM_PLAQ:ALRM_LIQ) %>% summary
data %>% select(GRAV_PULSO:GRAV_ORGAO) %>% summary
data %>% select(MANI_HEMOR:PLAQ_MENOR) %>% summary

data %>% select(-c(ALRM_PLAQ:PLAQ_MENOR)) -> data 

data %>% dim

data %>% colnames

  TPAUTOCTO n
1  1        25699
2  2         1598
3  3         2630
4 NA        72420

  COPAISINF n
1   1       26068
2  77           1
3 126           1
4  NA       76277

    COMUNINF n
1   110002   13
2   110004   19
3   110005    4
4   110009    1
5   110011    2
6   110012    1
7   110015    2
8   110020   12
9   110025    2
10  110029    1
11  110030   12
12  110033    2
13  110037    6
14  110120    1
15  110147    1
16  120020    7
17  120033    3
18  120040    3
19  120060    1
20  130260    8
21  130380    1
22  140002    1
23  140010    5
24  140050    1
25  150010    3
26  150060   12
27  150080    2
28  150130    6
29  150140    3
30  150170    2
⋮   ⋮        ⋮
866 510622       1
867 510623       1
868 510625       1
869 510627       2
870 510642       2
871 510645       1
872 510675       1
873 510704      29
874 510706       5
875 510715       1
876 510730       4
877 510790       1
878 510792       1
879 510795       6
880 510805       3
881 510830       1
882 510840      52
883 510850       2
884 510880       1
885 520060       1
886 520140       1
887 520350       1
888 520910       1
889 521020       1
890 521980       1
891 522040       1
892 522060       1
893 522170       1
894 530010       6
895     NA   76390

  TP_SISTEMA n
1  2         100675
2 NA           1672

  NDUPLIC_N n
1  1            19
2 NA        102328

  COMPLICA n
1 NA       102347

  CON_FHD n
1 NA      102347

  SOROTIPO n
1 NA       102347

  HISTOPA_N n
1  4            23
2 NA        102324

  IMUNOH_N n
1  4           23
2 NA       102324

  DOENCA_TRA n
1 NA         102347

  ALRM_HIPOT n
1 NA         102347

  TP_NOT n
1 2      102347

  ID_AGRAVO n
1 A92.0     102347

  NU_ANO n
1 2019      369
2 2020   101927
3 2021       51

 ALRM_PLAQ      ALRM_VOM       ALRM_SANG      ALRM_HEMAT     ALRM_ABDOM
 Mode:logical   Mode:logical   Mode:logical   Mode:logical   Mode:logical
 NA's:102347    NA's:102347    NA's:102347    NA's:102347    NA's:102347
 ALRM_LETAR     ALRM_HEPAT     ALRM_LIQ
 Mode:logical   Mode:logical   Mode:logical
 NA's:102347    NA's:102347    NA's:102347

 GRAV_PULSO     GRAV_CONV      GRAV_ENCH      GRAV_INSUF     GRAV_TAQUI
 Mode:logical   Mode:logical   Mode:logical   Mode:logical   Mode:logical
 NA's:102347    NA's:102347    NA's:102347    NA's:102347    NA's:102347
 GRAV_EXTRE     GRAV_HIPOT     GRAV_HEMAT     GRAV_MELEN     GRAV_METRO
 Mode:logical   Mode:logical   Mode:logical   Mode:logical   Mode:logical
 NA's:102347    NA's:102347    NA's:102347    NA's:102347    NA's:102347
 GRAV_SANG      GRAV_AST       GRAV_MIOC      GRAV_CONSC     GRAV_ORGAO
 Mode:logical   Mode:logical   Mode:logical   Mode:logical   Mode:logical
 NA's:102347    NA's:102347    NA's:102347    NA's:102347    NA's:102347

 MANI_HEMOR     EPISTAXE       GENGIVO         METRO         PETEQUIAS
 Mode:logical   Mode:logical   Mode:logical   Mode:logical   Mode:logical
 NA's:102347    NA's:102347    NA's:102347    NA's:102347    NA's:102347
 HEMATURA       SANGRAM         LACO_N        PLASMATICO     EVIDENCIA
 Mode:logical   Mode:logical   Mode:logical   Mode:logical   Mode:logical
 NA's:102347    NA's:102347    NA's:102347    NA's:102347    NA's:102347
 PLAQ_MENOR
 Mode:logical
 NA's:102347

[1] 102347     53

 [1] "SEM_NOT"    "SG_UF_NOT"  "ID_UNIDADE" "DT_SIN_PRI" "SEM_PRI"
 [6] "CS_SEXO"    "CS_GESTANT" "CS_RACA"    "CS_ESCOL_N" "ID_MN_RESI"
[11] "ID_OCUPA_N" "FEBRE"      "MIALGIA"    "CEFALEIA"   "EXANTEMA"
[16] "VOMITO"     "NAUSEA"     "DOR_COSTAS" "CONJUNTVIT" "ARTRITE"
[21] "ARTRALGIA"  "PETEQUIA_N" "LEUCOPENIA" "LACO"       "DOR_RETRO"
[26] "DIABETES"   "HEMATOLOG"  "HEPATOPAT"  "RENAL"      "HIPERTENSA"
[31] "ACIDO_PEPT" "AUTO_IMUNE" "DT_CHIK_S1" "DT_CHIK_S2" "DT_PRNT"
[36] "RES_CHIKS1" "RES_CHIKS2" "RESUL_PRNT" "DT_SORO"    "RESUL_SORO"
[41] "DT_NS1"     "RESUL_NS1"  "DT_VIRAL"   "RESUL_VI_N" "DT_PCR"
[46] "RESUL_PCR_" "HOSPITALIZ" "DT_INTERNA" "CLASSI_FIN" "CLINC_CHIK"
[51] "EVOLUCAO"   "DT_OBITO"   "age"

### Filter 2: Remove if is na for state or health unit

In [14]:
data %>% filter(!is.na(ID_UNIDADE)) -> data
data %>% filter(!is.na(SG_UF_NOT)) -> data

data %>% dim

data %>% dim

data %>% count(EVOLUCAO)
data %>% count(HOSPITALIZ)

[1] 102308     53

[1] 102308     53

  EVOLUCAO n
1  1       62674
2  2          29
3  3         166
4  4          21
5  9        5286
6 NA       34132

  HOSPITALIZ n
1  1          3216
2  2         49702
3  9          1806
4 NA         47584

### Filter 3: filter only confirmed positive and negative cases

5-Descartado (negative) 13-Chikungunya (positive)

In [15]:
# patient diagnosed with chikungunya
data %>% count(CLASSI_FIN)

data %>% filter(CLASSI_FIN == 5 | CLASSI_FIN == 13) -> data

data %>% select(-c(DT_CHIK_S1:RESUL_PCR_)) -> data

data %>% dim

data %>% count(EVOLUCAO)
data %>% count(HOSPITALIZ)

data %>% colnames

  CLASSI_FIN n
1  5         28473
2 13         43905
3 NA         29930

[1] 72378    39

  EVOLUCAO n
1  1       62575
2  2          29
3  3         164
4  4          16
5  9        5215
6 NA        4379

  HOSPITALIZ n
1  1          2717
2  2         42889
3  9          1533
4 NA         25239

 [1] "SEM_NOT"    "SG_UF_NOT"  "ID_UNIDADE" "DT_SIN_PRI" "SEM_PRI"
 [6] "CS_SEXO"    "CS_GESTANT" "CS_RACA"    "CS_ESCOL_N" "ID_MN_RESI"
[11] "ID_OCUPA_N" "FEBRE"      "MIALGIA"    "CEFALEIA"   "EXANTEMA"
[16] "VOMITO"     "NAUSEA"     "DOR_COSTAS" "CONJUNTVIT" "ARTRITE"
[21] "ARTRALGIA"  "PETEQUIA_N" "LEUCOPENIA" "LACO"       "DOR_RETRO"
[26] "DIABETES"   "HEMATOLOG"  "HEPATOPAT"  "RENAL"      "HIPERTENSA"
[31] "ACIDO_PEPT" "AUTO_IMUNE" "HOSPITALIZ" "DT_INTERNA" "CLASSI_FIN"
[36] "CLINC_CHIK" "EVOLUCAO"   "DT_OBITO"   "age"

### Remove columns

In [16]:
# ID_OCUPA_N seems to not be filled consistently
# it refers to area of activity and should be filled with the same value (not aplicable) to children 
# sem_not is the epidemiologic week of notification, sem_pri is the epidemiologic week of the first symptoms

data %>% filter(age< 5) %>% count(ID_OCUPA_N) %>% slice(1:15)
data %>% select(-c(ID_OCUPA_N, SEM_NOT)) -> data

   ID_OCUPA_N n
1             2161
2  000000        2
3  141405        1
4  141410        1
5  223104        1
6  223115        1
7  2231F9        1
8  223208        1
9  223410        1
10 223505        4
11 231205        1
12 231305        1
13 234624        1
14 234705        1
15 241005        1

### Filter 5: remove patients older than 110 years and youger than 12

In [17]:
# remove patients older than 110 years old 
data %>% filter(age < 111) -> data

# remove patients younger than 16 years old
data %>% filter(age > 11) -> data

data %>% dim

data %>% count(EVOLUCAO)
data %>% count(HOSPITALIZ)

[1] 65931    37

  EVOLUCAO n
1  1       57068
2  2          26
3  3         119
4  4          15
5  9        4711
6 NA        3992

  HOSPITALIZ n
1  1          1993
2  2         39536
3  9          1410
4 NA         22992

### Filter 6: remove patients without sex information

In [18]:
# remove patients without sex information

data %>% count(CS_SEXO)
data %>% filter(CS_SEXO == 'F' | CS_SEXO == 'M') %>% count(CS_SEXO)
data %>% filter(CS_SEXO == 'F' | CS_SEXO == 'M') -> data
data %>% dim

# create a new column with numeric values

data %>% mutate(sex = if_else(CS_SEXO == 'M', 0, 1)) %>% count(sex)
data %>% mutate(sex = if_else(CS_SEXO == 'M', 0, 1)) -> data

# remove the former column
data %>% select(-CS_SEXO) -> data

data %>% dim

data %>% count(EVOLUCAO)
data %>% count(HOSPITALIZ)

  CS_SEXO n
1 F       40530
2 I          65
3 M       25336

  CS_SEXO n
1 F       40530
2 M       25336

[1] 65866    37

  sex n
1 0   25336
2 1   40530

[1] 65866    37

  EVOLUCAO n
1  1       57032
2  2          26
3  3         119
4  4          15
5  9        4691
6 NA        3983

  HOSPITALIZ n
1  1          1990
2  2         39512
3  9          1407
4 NA         22957

In [19]:
# check the column pregnancy for each sex
# transform na values in the column pregnancy in 0 (not pregnant)

data %>% count(CS_GESTANT)

data %>% filter(sex == 1) %>% count(CS_GESTANT)

data %>% filter(sex == 0) %>% count(CS_GESTANT)

data %>% mutate(CS_GESTANT = if_else(is.na(CS_GESTANT), 0, CS_GESTANT)) %>% count(CS_GESTANT)

data %>% mutate(CS_GESTANT = if_else(is.na(CS_GESTANT), 0, CS_GESTANT)) -> data

  CS_GESTANT n
1  1           388
2  2           513
3  3           500
4  4           139
5  5         26241
6  6         29921
7  9          8152
8 NA            12

  CS_GESTANT n
1  1           388
2  2           513
3  3           500
4  4           139
5  5         26241
6  6          4585
7  9          8152
8 NA            12

  CS_GESTANT n
1 6          25336

  CS_GESTANT n
1 0             12
2 1            388
3 2            513
4 3            500
5 4            139
6 5          26241
7 6          29921
8 9           8152

In [20]:
# transform the column pregnant in binary, orignally diferent values refer to difernt stages on pregnancy

data %>% mutate(pregnant = if_else((CS_GESTANT == 1 | 
                               CS_GESTANT == 2 | 
                               CS_GESTANT == 3 | 
                               CS_GESTANT == 4), 1, 0)) %>% count(pregnant)


data %>% mutate(pregnant = if_else((CS_GESTANT == 1 | 
                               CS_GESTANT == 2 | 
                               CS_GESTANT == 3 | 
                               CS_GESTANT == 4), 1, 0)) -> data

data %>% select(-CS_GESTANT) -> data

  pregnant n
1 0        64326
2 1         1540

### Filter 7: remove patients without race information

In [21]:
# remove unknown race, or na values

data %>% count(CS_RACA)

data %>% filter(!is.na(CS_RACA)) %>% filter(CS_RACA < 9) %>% count(CS_RACA)

data %>% filter(!is.na(CS_RACA)) %>% filter(CS_RACA < 9) -> data

data %>% dim

data %>% count(EVOLUCAO)
data %>% count(HOSPITALIZ)

  CS_RACA n
1 1       11391
2 2        4773
3 3         721
4 4       32831
5 5         183
6 9       15967

  CS_RACA n
1 1       11391
2 2        4773
3 3         721
4 4       32831
5 5         183

[1] 49899    37

  EVOLUCAO n
1  1       43916
2  2          22
3  3         100
4  4          13
5  9        2885
6 NA        2963

  HOSPITALIZ n
1  1          1787
2  2         31993
3  9           976
4 NA         15143

In [22]:
# check year of schooling. 9 = unknown. 
data %>% count(CS_ESCOL_N)

data$CS_ESCOL_N[data$CS_ESCOL_N == 9] <- NA

data %>% count(CS_ESCOL_N)

   CS_ESCOL_N n
1   0           645
2   1          2303
3   2          1373
4   3          3532
5   4          2214
6   5          3154
7   6          9787
8   7          1218
9   8          3277
10  9         14750
11 NA          7646

   CS_ESCOL_N n
1   0           645
2   1          2303
3   2          1373
4   3          3532
5   4          2214
6   5          3154
7   6          9787
8   7          1218
9   8          3277
10 NA         22396

In [23]:
# how many groups by age, race, city and sex
data %>% group_by(age, CS_RACA, ID_MN_RESI, sex) %>% n_groups

# create a new column with the average
data %>% group_by(age, CS_RACA, ID_MN_RESI, sex) %>% mutate(average = mean(CS_ESCOL_N, na.rm=TRUE)) %>% 
    ungroup -> data

# when CS_ESCOL_N is na change by the average
data %>% mutate(CS_ESCOL_N = if_else((is.na(CS_ESCOL_N)), round(average), CS_ESCOL_N)) %>% count(CS_ESCOL_N)
data %>% mutate(CS_ESCOL_N = if_else((is.na(CS_ESCOL_N)), round(average), CS_ESCOL_N)) -> data
data %>% select(-average) -> data

[1] 26898

   CS_ESCOL_N n
1    0          730
2    1         2653
3    2         1802
4    3         4427
5    4         3783
6    5         5445
7    6        13291
8    7         1775
9    8         3774
10 NaN        12219

In [24]:
# create a new column with the average
data %>% group_by(age, CS_RACA, sex) %>% mutate(average = mean(CS_ESCOL_N, na.rm=TRUE)) %>% 
    ungroup -> data

# when CS_ESCOL_N is na change by the average
data %>% mutate(CS_ESCOL_N = if_else((is.na(CS_ESCOL_N)), round(average), CS_ESCOL_N)) %>% count(CS_ESCOL_N)
data %>% mutate(CS_ESCOL_N = if_else((is.na(CS_ESCOL_N)), round(average), CS_ESCOL_N)) -> data
data %>% select(-average) -> data

   CS_ESCOL_N n
1    0          765
2    1         2764
3    2         2183
4    3         5749
5    4         6031
6    5        10184
7    6        16486
8    7         1810
9    8         3790
10 NaN          137

### Filter 8: remove patients without schooling information (even after inputation)

In [25]:
# if is still na, drop it

data %>% count(CS_ESCOL_N)

data %>% filter(!(is.na(CS_ESCOL_N))) -> data

data %>% count(EVOLUCAO)
data %>% count(HOSPITALIZ)

data %>% dim

   CS_ESCOL_N n
1    0          765
2    1         2764
3    2         2183
4    3         5749
5    4         6031
6    5        10184
7    6        16486
8    7         1810
9    8         3790
10 NaN          137

  EVOLUCAO n
1  1       43797
2  2          22
3  3         100
4  4          12
5  9        2880
6 NA        2951

  HOSPITALIZ n
1  1          1785
2  2         31913
3  9           969
4 NA         15095

[1] 49762    37

### Delete columns

In [26]:
# this feature is correlated with uf 

data %>% select(-ID_MN_RESI) -> data

In [27]:
# check the presence of na's inside the columns of symptoms and comorbities

sum(is.na(data %>% select(FEBRE:AUTO_IMUNE)))

[1] 42

In [28]:
# check if the NA's are in the same rows

data %>% filter(!is.na(FEBRE)) -> teste
sum(is.na(teste %>% select(FEBRE:AUTO_IMUNE)))

[1] 0

### Filter: rows with NA for the symptoms

In [29]:
# filter rows with NA for the symptoms

data %>% filter(!is.na(FEBRE)) -> data

data %>% dim
data %>% count(EVOLUCAO)
data %>% count(HOSPITALIZ)

[1] 49760    36

  EVOLUCAO n
1  1       43795
2  2          22
3  3         100
4  4          12
5  9        2880
6 NA        2951

  HOSPITALIZ n
1  1          1785
2  2         31913
3  9           969
4 NA         15093

In [30]:
# the value 2 means the non-occurrence of a symptom, change this to 0

data %>% select(FEBRE:AUTO_IMUNE, HOSPITALIZ) -> symptoms
data %>% select(!(FEBRE:AUTO_IMUNE)) %>% select(-c(HOSPITALIZ)) -> others

symptoms %>% head

symptoms <- symptoms %>%
  mutate_all(~ ifelse(. == 2, 0, .))

symptoms %>% head

symptoms %>% cbind(others) -> data

data$EVOLUCAO[data$EVOLUCAO == 1] <- 0
data$EVOLUCAO[data$EVOLUCAO == 2] <- 1

  FEBRE MIALGIA CEFALEIA EXANTEMA VOMITO NAUSEA DOR_COSTAS CONJUNTVIT ARTRITE
1 1     1       1        2        2      2      1          2          2
2 2     2       2        2        2      2      2          2          2
3 1     1       1        1        1      2      2          2          2
4 2     2       2        2        2      2      2          2          2
5 2     2       2        2        2      2      2          2          2
6 1     1       1        2        2      2      1          2          2
  ARTRALGIA ⋯ LACO DOR_RETRO DIABETES HEMATOLOG HEPATOPAT RENAL HIPERTENSA
1 2         ⋯ 1    2         2        2         2         2     2
2 2         ⋯ 2    2         2        2         2         2     2
3 2         ⋯ 2    2         2        2         2         2     2
4 2         ⋯ 2    2         2        2         2         2     2
5 2         ⋯ 2    2         2        2         2         2     2
6 2         ⋯ 2    2         2        2         2         2     2
  ACIDO_PEPT AUTO_IMUNE HOSPITALIZ
1 2          2           2
2 2          2           2
3 2          2          NA
4 2          2           2
5 2          2           2
6 2          2           2

  FEBRE MIALGIA CEFALEIA EXANTEMA VOMITO NAUSEA DOR_COSTAS CONJUNTVIT ARTRITE
1 1     1       1        0        0      0      1          0          0
2 0     0       0        0        0      0      0          0          0
3 1     1       1        1        1      0      0          0          0
4 0     0       0        0        0      0      0          0          0
5 0     0       0        0        0      0      0          0          0
6 1     1       1        0        0      0      1          0          0
  ARTRALGIA ⋯ LACO DOR_RETRO DIABETES HEMATOLOG HEPATOPAT RENAL HIPERTENSA
1 0         ⋯ 1    0         0        0         0         0     0
2 0         ⋯ 0    0         0        0         0         0     0
3 0         ⋯ 0    0         0        0         0         0     0
4 0         ⋯ 0    0         0        0         0         0     0
5 0         ⋯ 0    0         0        0         0         0     0
6 0         ⋯ 0    0         0        0         0         0     0
  ACIDO_PEPT AUTO_IMUNE HOSPITALIZ
1 0          0           0
2 0          0           0
3 0          0          NA
4 0          0           0
5 0          0           0
6 0          0           0

### Filter 9: keep only patients in the acute stage of the disease

In [32]:
# only patients in the acute stage 

data %>% filter(CLINC_CHIK == 1) -> data
data %>% select(-CLINC_CHIK) -> data

In [33]:
# date of the first symptoms 

# change format

data$DT_SIN_PRI <- as.Date(data$DT_SIN_PRI)

# first and last date

data %>% select(DT_SIN_PRI) %>% arrange(DT_SIN_PRI) %>% slice(1)
data %>% select(DT_SIN_PRI) %>% arrange(desc(DT_SIN_PRI)) %>% slice(1)

  DT_SIN_PRI
1 1968-12-30

  DT_SIN_PRI
1 2021-01-02

### Filter: remove notifications from previous years

In [ ]:
data %>% filter(SEM_PRI > 202000) -> data

# change date format

data %>% mutate(SEM_PRI = SEM_PRI - 202200) -> data

data %>% dim
data %>% colnames

In [39]:
colnames(data) <- c("fever", 'myalgia','headache',
                  'exanthema', 'vomiting','nausea',
                  'back_pain','conjunctivitis', 'arthritis', 
                  'arthralgia', 'petechiae', 'leukopenia', 
                  'lasso_prove', 'retro_orbital_pain', 'diabetes', 
                  'hematological_diseases', 'hepatopathies', 'chronic_kidney_disease', 
                  'arterial_hypertension', 'acid_peptic_disease', 'autoimmune_diseases',
                  'hospitalization','id_state','id_place',
                  'dt_first_symptoms', 'epidemiological_week', 
                  'race', 'schooling_years', 'dt_hospitalization', 
                  'chikungunya', 'death', 'dt_death', 
                  'age', 'sex', 'pregnancy')

In [40]:
data %>% write_csv('clean_chikungunya_20.csv')

# Dataset 1 - predicting hospitalization

### Filter 1.1: keep only patients with the disease confirmed

In [41]:
data <- read.csv('clean_chikungunya_20.csv')

# only confirmed cases
data %>% filter(chikungunya == 13) -> data

data %>% count(hospitalization)

data %>% dim

### Filter 1.2: keep only patients with information about hospitalization

In [44]:
# remove patients without information of hospitalization

data %>% count(hospitalization)

data %>% filter(hospitalization == 1 | hospitalization == 0) -> data

data %>% dim

  hospitalization n
1  0              18837
2  1                640
3  9                569
4 NA               8469

[1] 19477    34

In [45]:
# create a column with the number of days between the disease investigation and death

data$dt_hospitalization <- as.Date(data$dt_hospitalization)
data$dt_hospitalization <- as.Date(data$dt_hospitalization)

data %>% mutate(days = difftime(dt_hospitalization, dt_first_symptoms, units = 'days')) -> data

data$days <- as.numeric(data$days)

   days        n
1   0.00000000    33
2   0.04166667    55
3   1.00000000    29
4   1.04166667    43
5   2.00000000    24
6   2.04166667    32
7   3.00000000    14
8   3.04166667    32
9   4.00000000    14
10  4.04166667    19
11  5.00000000    17
12  5.04166667    12
13  6.00000000    12
14  6.04166667    19
15  7.00000000    12
16  7.04166667    16
17  8.00000000     2
18  8.04166667    12
19  9.00000000     7
20  9.04166667     7
21 10.00000000     5
22 10.04166667     6
23 11.00000000     2
24 11.04166667     1
25 12.00000000     2
26 13.00000000     3
27 13.04166667     3
28 14.00000000     3
29 14.04166667     4
30 15.00000000     2
31 15.04166667     7
32          NA 18961

### Filter 1.3: remove patients hospitalized more than 15 days after the first sympthoms

In [ ]:
# remove patients hospitalized more than 15 days after first sympthoms

data %>% filter((days >= 0 & days < 16)| is.na(days)) -> data

data %>% count(days)

data %>% count(days)

data %>% count(hospitalization)
data %>% dim
data %>% colnames

### Filter 1.4: remove non-hospitalized patients that died

In [46]:
# remove non-hospitalized patients that died
data %>% filter(hospitalization == 0) %>% count(death)

data %>% filter(hospitalization == 1) -> death
data %>% filter(hospitalization == 0) %>% filter(death == 0) -> data

data %>% rbind(death) -> data

data %>% dim 

data %>% count(hospitalization)

  death n
1  0    17391
2  1        2
3  3        1
4  4        1
5  9      929
6 NA      513

In [49]:
data %>% select('fever','myalgia','headache','exanthema','vomiting','nausea','back_pain','conjunctivitis',
    'arthritis','arthralgia','petechiae','leukopenia','retro_orbital_pain','diabetes','arterial_hypertension',
    'id_state','id_place','epidemiological_week','race','schooling_years','age','sex','pregnancy',
                'hospitalization') -> data

In [51]:
data %>% write_csv('chikungunya_hospitalization_20.csv')

# Dataset2 - predicting the diagnose

In [52]:
data <- read.csv('clean_chikungunya_20.csv')

# only confirmed cases
data %>% count(chikungunya)

  chikungunya n
1  5           7031
2 13          28515

In [53]:
data$chikungunya[data$chikungunya == 13] <- 1
data$chikungunya[data$chikungunya == 5] <- 0

In [54]:
data %>% dim
data %>% colnames

 [1] "fever"                  "myalgia"                "headache"
 [4] "exanthema"              "vomiting"               "nausea"
 [7] "back_pain"              "conjunctivitis"         "arthritis"
[10] "arthralgia"             "petechiae"              "leukopenia"
[13] "lasso_prove"            "retro_orbital_pain"     "diabetes"
[16] "hematological_diseases" "hepatopathies"          "chronic_kidney_disease"
[19] "arterial_hypertension"  "acid_peptic_disease"    "autoimmune_diseases"
[22] "hospitalization"        "id_state"               "id_place"
[25] "dt_first_symptoms"      "epidemiological_week"   "race"
[28] "schooling_years"        "dt_hospitalization"     "chikungunya"
[31] "death"                  "dt_death"               "age"
[34] "sex"                    "pregnancy"

In [55]:
data %>% select('fever','myalgia','headache','exanthema','vomiting','nausea','back_pain','conjunctivitis',
    'arthritis','arthralgia','petechiae','leukopenia','lasso_prove','retro_orbital_pain','diabetes',
    'arterial_hypertension','id_state','id_place','epidemiological_week','race', 'schooling_years','chikungunya', 
    'age','sex','pregnancy') -> data

In [58]:
data %>% select(fever:schooling_years,age:pregnancy,chikungunya) %>%  write_csv('chikungunya_diagnose_20.csv')

# Dataset 3 - predicting death (among hospitalized patients)

In [59]:
data <- read.csv('clean_chikungunya_20.csv')

### Filter 3.1: only confirmed cases of the disease

In [ ]:
# only confirmed cases
data %>% filter(chikungunya == 13) -> data
data %>% select(-chikungunya) -> data

data %>% count(death)

data %>% dim

### Filter 3.2: only patients cured or dead with the disease

1- cura (cured), 2- óbito pelo agravo (death by chikungunya) 3- óbito por outras causas (death by other reasons) 4- óbito em investigação (death under investigation) 9- ignorado (ignored)

In [61]:
# only cured or dead by the disease

data %>% count(death)
data %>% filter(death == 1 | death == 0) -> data

data %>% dim

data %>% count(death)

  death n
1  0    26219
2  1       18
3  3       11
4  4        9
5  9     1286
6 NA      972

[1] 26237    34

  death n
1 0     26219
2 1        18

### Filter 3.3: keep only hospitalized patients

In [62]:
# filter hospitalized patients

data %>% filter(hospitalization == 1) %>% count(death)
data %>% filter(hospitalization == 1) -> data

  death n
1 0     535
2 1      15

In [63]:
# create a column with the number of days between the disease investigation and death

data$dt_hospitalization <- as.Date(data$dt_hospitalization)
data$dt_death <- as.Date(data$dt_death)

data %>% mutate(days = difftime(dt_death, dt_hospitalization, units = 'days')) -> data

data$days <- as.numeric(data$days)

data %>% count(days)

   days n
1   0     2
2   1     2
3   2     1
4   3     1
5   5     1
6   6     1
7  16     1
8  28     2
9  31     1
10 NA   538

  death n
1 0     535
2 1      14

### Filter 3.4: remove patients that died with more than 30 days after hospital admission

In [ ]:
# remove patients that died after 30 days of the first sympthoms

data %>% filter(days < 31| is.na(days)) -> data

data %>% count(death)

In [64]:
data %>% select(c('fever','myalgia','headache','exanthema','vomiting','nausea','back_pain','arthritis',
                  'arthralgia','diabetes','chronic_kidney_disease','arterial_hypertension','id_state',
                  'id_place','epidemiological_week','race','schooling_years','death','age','sex')) -> data

In [65]:
data %>% colnames

data %>% dim

data %>% count(death)

data %>% select(fever:schooling_years, age, sex, death) -> data
data %>% write_csv('chikungunya_hospitalized_20.csv')

 [1] "fever"                  "myalgia"                "headache"
 [4] "exanthema"              "vomiting"               "nausea"
 [7] "back_pain"              "arthritis"              "arthralgia"
[10] "diabetes"               "chronic_kidney_disease" "arterial_hypertension"
[13] "id_state"               "id_place"               "epidemiological_week"
[16] "race"                   "schooling_years"        "death"
[19] "age"                    "sex"

[1] 549  20

  death n
1 0     535
2 1      14