In [1]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.2     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.2     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [2]:
data <- read.csv("CHIKBR20.csv")

In [3]:
# check and remove duplicates

data %>% dim
data %>% unique %>% dim
data %>% unique -> data

[1] 102496    116

[1] 102369    116

In [4]:
# visualize data

data %>% head
data %>% colnames

  TP_NOT ID_AGRAVO DT_NOTIFIC SEM_NOT NU_ANO SG_UF_NOT ID_MUNICIP ID_REGIONA
1 2      A92.0     2020-06-04 202023  2020   12        120040     1938
2 2      A92.0     2020-06-01 202023  2020   12        120040     1938
3 2      A92.0     2020-09-24 202039  2020   12        120020     1941
4 2      A92.0     2020-06-02 202023  2020   12        120040     1938
5 2      A92.0     2020-02-05 202006  2020   12        120010     1937
6 2      A92.0     2020-01-29 202005  2020   12        120020     1941
  ID_UNIDADE DT_SIN_PRI ⋯ HEMATURA SANGRAM LACO_N PLASMATICO EVIDENCIA
1 2000490    2020-05-27 ⋯ NA       NA      NA     NA         NA
2 2001578    2020-05-20 ⋯ NA       NA      NA     NA         NA
3 6788637    2020-09-01 ⋯ NA       NA      NA     NA         NA
4 2000075    2020-05-25 ⋯ NA       NA      NA     NA         NA
5 2001500    2020-02-03 ⋯ NA       NA      NA     NA         NA
6 6801099    2020-01-20 ⋯ NA       NA      NA     NA         NA
  PLAQ_MENOR CON_FHD COMPLICA TP_SISTEMA NDUPLIC_N
1 NA         NA      NA       2          NA
2 NA         NA      NA       2          NA
3 NA         NA      NA       2          NA
4 NA         NA      NA       2          NA
5 NA         NA      NA       2          NA
6 NA         NA      NA       2          NA

  [1] "TP_NOT"     "ID_AGRAVO"  "DT_NOTIFIC" "SEM_NOT"    "NU_ANO"
  [6] "SG_UF_NOT"  "ID_MUNICIP" "ID_REGIONA" "ID_UNIDADE" "DT_SIN_PRI"
 [11] "SEM_PRI"    "NU_IDADE_N" "CS_SEXO"    "CS_GESTANT" "CS_RACA"
 [16] "CS_ESCOL_N" "SG_UF"      "ID_MN_RESI" "ID_RG_RESI" "ID_PAIS"
 [21] "DT_INVEST"  "ID_OCUPA_N" "FEBRE"      "MIALGIA"    "CEFALEIA"
 [26] "EXANTEMA"   "VOMITO"     "NAUSEA"     "DOR_COSTAS" "CONJUNTVIT"
 [31] "ARTRITE"    "ARTRALGIA"  "PETEQUIA_N" "LEUCOPENIA" "LACO"
 [36] "DOR_RETRO"  "DIABETES"   "HEMATOLOG"  "HEPATOPAT"  "RENAL"
 [41] "HIPERTENSA" "ACIDO_PEPT" "AUTO_IMUNE" "DT_CHIK_S1" "DT_CHIK_S2"
 [46] "DT_PRNT"    "RES_CHIKS1" "RES_CHIKS2" "RESUL_PRNT" "DT_SORO"
 [51] "RESUL_SORO" "DT_NS1"     "RESUL_NS1"  "DT_VIRAL"   "RESUL_VI_N"
 [56] "DT_PCR"     "RESUL_PCR_" "SOROTIPO"   "HISTOPA_N"  "IMUNOH_N"
 [61] "HOSPITALIZ" "DT_INTERNA" "UF"         "MUNICIPIO"  "TPAUTOCTO"
 [66] "COUFINF"    "COPAISINF"  "COMUNINF"   "CLASSI_FIN" "CRITERIO"
 [71] "DOENCA_TRA" "CLINC_CHIK" "EVOLUCAO"   "DT_OBITO"   "DT_ENCERRA"
 [76] "ALRM_HIPOT" "ALRM_PLAQ"  "ALRM_VOM"   "ALRM_SANG"  "ALRM_HEMAT"
 [81] "ALRM_ABDOM" "ALRM_LETAR" "ALRM_HEPAT" "ALRM_LIQ"   "DT_ALRM"
 [86] "GRAV_PULSO" "GRAV_CONV"  "GRAV_ENCH"  "GRAV_INSUF" "GRAV_TAQUI"
 [91] "GRAV_EXTRE" "GRAV_HIPOT" "GRAV_HEMAT" "GRAV_MELEN" "GRAV_METRO"
 [96] "GRAV_SANG"  "GRAV_AST"   "GRAV_MIOC"  "GRAV_CONSC" "GRAV_ORGAO"
[101] "DT_GRAV"    "MANI_HEMOR" "EPISTAXE"   "GENGIVO"    "METRO"
[106] "PETEQUIAS"  "HEMATURA"   "SANGRAM"    "LACO_N"     "PLASMATICO"
[111] "EVIDENCIA"  "PLAQ_MENOR" "CON_FHD"    "COMPLICA"   "TP_SISTEMA"
[116] "NDUPLIC_N"

In [5]:
# since ano-nasc is not present is this database, age will be computed from nu_idade_n

data %>% count(NU_IDADE_N) %>% head

  NU_IDADE_N n
1  0         1
2  3         1
3  9         1
4 10         1
5 19         1
6 27         2

In [6]:
# the information must contain at least 4 digits
# when it starts with 10 - hours, 20 - days, 30 - months, 40 - years 

# remove information with less than 4 digits

data %>% filter(NU_IDADE_N > 1000) %>% count(NU_IDADE_N) %>% head

data %>% filter(NU_IDADE_N > 1000) -> data

  NU_IDADE_N n
1 1078         1
2 2001       868
3 2002        20
4 2003        16
5 2004         9
6 2005        17

In [7]:
# remove information that is not coherent

data %>% filter(!(NU_IDADE_N > 2030 & NU_IDADE_N < 3000)) %>% filter(NU_IDADE_N> 2025) %>% 
    count(NU_IDADE_N) %>% head

data %>% filter(!(NU_IDADE_N > 2030 & NU_IDADE_N < 3000)) -> data

  NU_IDADE_N n
1 2026         5
2 2027         4
3 2028         6
4 2029         9
5 2030         4
6 3001       100

In [8]:
# remove information that is not coherent

data %>% filter(!(NU_IDADE_N > 3012 & NU_IDADE_N < 4000)) %>% filter(NU_IDADE_N> 3010) %>% 
    count(NU_IDADE_N) %>% head

data %>% filter(!(NU_IDADE_N > 3012 & NU_IDADE_N < 4000)) ->data

  NU_IDADE_N n
1 3011        53
2 4001       415
3 4002       430
4 4003       501
5 4004       535
6 4005       625

In [9]:
# transform in years 

# if is less than 4000 the patient has not complete one year
data %>% mutate(age = ifelse(NU_IDADE_N < 4000, 0, (NU_IDADE_N - round(NU_IDADE_N, -2)))) %>% 
    select(age, NU_IDADE_N) %>% head

data %>% mutate(age = ifelse(NU_IDADE_N < 4000, 0, (NU_IDADE_N - 4000))) -> data

  age NU_IDADE_N
1 48  4048
2  7  4007
3 26  4026
4 44  4044
5  8  4008
6 11  4011

In [10]:
data %>% count(EVOLUCAO)
data %>% count(HOSPITALIZ)
data %>% count(CLASSI_FIN)

  EVOLUCAO n
1  1       62702
2  2          30
3  3         166
4  4          21
5  9        5286
6 NA       34142

  HOSPITALIZ n
1  1          3217
2  2         49738
3  9          1806
4 NA         47586

  CLASSI_FIN n
1  5         28478
2 13         43939
3 NA         29930

In [11]:
# check the content of some features

data %>% count(TP_NOT)
data %>% count(ID_AGRAVO)
data %>% count(NU_ANO)

# removed since they does not contain relevant information 

data %>% select(-c(TP_NOT, ID_AGRAVO, NU_ANO)) -> data

  TP_NOT n
1 2      102347

  ID_AGRAVO n
1 A92.0     102347

  NU_ANO n
1 2019      369
2 2020   101927
3 2021       51

In [12]:
# check how many regions, states and cities are present in the database

data %>% select(ID_REGIONA) %>% unique %>% dim
data %>% select(ID_MUNICIP) %>% unique %>% dim
data %>% select(SG_UF_NOT) %>% unique %>% dim
data %>% select(SG_UF) %>% unique %>% dim

data %>% select(ID_MN_RESI) %>% unique %>% dim
data %>% select(ID_PAIS) %>% unique %>% dim
data %>% select(ID_RG_RESI) %>% unique %>% dim

data %>% select(ID_UNIDADE) %>% unique %>% dim

[1] 292   1

[1] 2063    1

[1] 27  1

[1] 27  1

[1] 2444    1

[1] 1 1

[1] 300   1

[1] 8835    1

In [13]:
# refer to the place of hospitalization
data %>% select(UF) %>% unique %>% dim
data %>% select(MUNICIPIO) %>% unique %>% dim

# SG_UF refers to the state of residence while SG_UF_NOT refers to the sate where the notification was realised
# check in how many cases they are different 
data %>% filter(SG_UF != SG_UF_NOT) %>% dim

#keep only id related with the city
data %>% select(-c(ID_REGIONA, ID_MUNICIP, SG_UF, ID_PAIS, ID_RG_RESI, UF, MUNICIPIO)) -> data

data %>% dim

[1] 28  1

[1] 423   1

[1] 291 114

[1] 102347    107

In [14]:
# remove patients without id_unidade or city
data %>% filter(!is.na(ID_UNIDADE)) -> data
data %>% filter(!is.na(ID_MN_RESI)) -> data
data %>% filter(!is.na(SG_UF_NOT)) -> data

data %>% dim

[1] 102306    107

In [15]:
# refer to place of infection
data %>% select(TPAUTOCTO, COPAISINF, COMUNINF) %>% head

data %>% select(-c(TPAUTOCTO, COPAISINF, COUFINF, COMUNINF)) -> data

  TPAUTOCTO COPAISINF COMUNINF
1 NA        NA        NA
2 NA        NA        NA
3 NA        NA        NA
4 NA        NA        NA
5 NA        NA        NA
6 NA        NA        NA

In [16]:
# check and remove non-informative features

data %>% count(TP_SISTEMA)

data %>% select(-c(TP_SISTEMA)) -> data

  TP_SISTEMA n
1  2         100638
2 NA           1668

In [17]:
# check and remove non-informative features

data %>% count(NDUPLIC_N)

data %>% count(COMPLICA)

data %>% count(CON_FHD)

data %>% select(-c(NDUPLIC_N, COMPLICA, CON_FHD)) -> data

  NDUPLIC_N n
1  1            19
2 NA        102287

  COMPLICA n
1 NA       102306

  CON_FHD n
1 NA      102306

In [18]:
# check and remove non-informative features

data %>% count(SOROTIPO)

data %>% count(HISTOPA_N)

data %>% count(IMUNOH_N)

data %>% count(DOENCA_TRA)

data %>% count(ALRM_HIPOT)

data %>% select(-c(SOROTIPO, HISTOPA_N, IMUNOH_N, DOENCA_TRA, ALRM_HIPOT)) -> data

  SOROTIPO n
1 NA       102306

  HISTOPA_N n
1  4            23
2 NA        102283

  IMUNOH_N n
1  4           23
2 NA       102283

  DOENCA_TRA n
1 NA         102306

  ALRM_HIPOT n
1 NA         102306

In [19]:
# check and remove non-informative features

data %>% select(ALRM_PLAQ:ALRM_LIQ) %>% summary
data %>% select(GRAV_PULSO:GRAV_ORGAO) %>% summary
data %>% select(MANI_HEMOR:PLAQ_MENOR) %>% summary

data %>% select(-c(ALRM_PLAQ:PLAQ_MENOR)) -> data 

data %>% dim

data %>% colnames

 ALRM_PLAQ      ALRM_VOM       ALRM_SANG      ALRM_HEMAT     ALRM_ABDOM
 Mode:logical   Mode:logical   Mode:logical   Mode:logical   Mode:logical
 NA's:102306    NA's:102306    NA's:102306    NA's:102306    NA's:102306
 ALRM_LETAR     ALRM_HEPAT     ALRM_LIQ
 Mode:logical   Mode:logical   Mode:logical
 NA's:102306    NA's:102306    NA's:102306

 GRAV_PULSO     GRAV_CONV      GRAV_ENCH      GRAV_INSUF     GRAV_TAQUI
 Mode:logical   Mode:logical   Mode:logical   Mode:logical   Mode:logical
 NA's:102306    NA's:102306    NA's:102306    NA's:102306    NA's:102306
 GRAV_EXTRE     GRAV_HIPOT     GRAV_HEMAT     GRAV_MELEN     GRAV_METRO
 Mode:logical   Mode:logical   Mode:logical   Mode:logical   Mode:logical
 NA's:102306    NA's:102306    NA's:102306    NA's:102306    NA's:102306
 GRAV_SANG      GRAV_AST       GRAV_MIOC      GRAV_CONSC     GRAV_ORGAO
 Mode:logical   Mode:logical   Mode:logical   Mode:logical   Mode:logical
 NA's:102306    NA's:102306    NA's:102306    NA's:102306    NA's:102306

 MANI_HEMOR     EPISTAXE       GENGIVO         METRO         PETEQUIAS
 Mode:logical   Mode:logical   Mode:logical   Mode:logical   Mode:logical
 NA's:102306    NA's:102306    NA's:102306    NA's:102306    NA's:102306
 HEMATURA       SANGRAM         LACO_N        PLASMATICO     EVIDENCIA
 Mode:logical   Mode:logical   Mode:logical   Mode:logical   Mode:logical
 NA's:102306    NA's:102306    NA's:102306    NA's:102306    NA's:102306
 PLAQ_MENOR
 Mode:logical
 NA's:102306

[1] 102306     58

 [1] "DT_NOTIFIC" "SEM_NOT"    "SG_UF_NOT"  "ID_UNIDADE" "DT_SIN_PRI"
 [6] "SEM_PRI"    "NU_IDADE_N" "CS_SEXO"    "CS_GESTANT" "CS_RACA"
[11] "CS_ESCOL_N" "ID_MN_RESI" "DT_INVEST"  "ID_OCUPA_N" "FEBRE"
[16] "MIALGIA"    "CEFALEIA"   "EXANTEMA"   "VOMITO"     "NAUSEA"
[21] "DOR_COSTAS" "CONJUNTVIT" "ARTRITE"    "ARTRALGIA"  "PETEQUIA_N"
[26] "LEUCOPENIA" "LACO"       "DOR_RETRO"  "DIABETES"   "HEMATOLOG"
[31] "HEPATOPAT"  "RENAL"      "HIPERTENSA" "ACIDO_PEPT" "AUTO_IMUNE"
[36] "DT_CHIK_S1" "DT_CHIK_S2" "DT_PRNT"    "RES_CHIKS1" "RES_CHIKS2"
[41] "RESUL_PRNT" "DT_SORO"    "RESUL_SORO" "DT_NS1"     "RESUL_NS1"
[46] "DT_VIRAL"   "RESUL_VI_N" "DT_PCR"     "RESUL_PCR_" "HOSPITALIZ"
[51] "DT_INTERNA" "CLASSI_FIN" "CRITERIO"   "CLINC_CHIK" "EVOLUCAO"
[56] "DT_OBITO"   "DT_ENCERRA" "age"

In [20]:
# remove features - SEM_PRI is the epidemiologic week of the first symptoms
# NU_IDADE_N refers to age in a diferent format

data %>% select(-c(NU_IDADE_N)) -> data

In [21]:
# this dates usually are the same and refer to the date of digitalization
data %>% select(-c(DT_NOTIFIC, DT_ENCERRA, DT_INVEST, CRITERIO)) -> data

In [22]:
# patient diagnosed with chikungunya
data %>% count(CLASSI_FIN)

data %>% filter(CLASSI_FIN == 5 | CLASSI_FIN == 13) -> data

data %>% select(-c(DT_CHIK_S1:RESUL_PCR_)) -> data

data %>% dim

  CLASSI_FIN n
1  5         28473
2 13         43905
3 NA         29928

[1] 72378    39

In [23]:
data %>% count(EVOLUCAO)
data %>% count(HOSPITALIZ)

  EVOLUCAO n
1  1       62575
2  2          29
3  3         164
4  4          16
5  9        5215
6 NA        4379

  HOSPITALIZ n
1  1          2717
2  2         42889
3  9          1533
4 NA         25239

In [24]:
data %>% colnames

 [1] "SEM_NOT"    "SG_UF_NOT"  "ID_UNIDADE" "DT_SIN_PRI" "SEM_PRI"
 [6] "CS_SEXO"    "CS_GESTANT" "CS_RACA"    "CS_ESCOL_N" "ID_MN_RESI"
[11] "ID_OCUPA_N" "FEBRE"      "MIALGIA"    "CEFALEIA"   "EXANTEMA"
[16] "VOMITO"     "NAUSEA"     "DOR_COSTAS" "CONJUNTVIT" "ARTRITE"
[21] "ARTRALGIA"  "PETEQUIA_N" "LEUCOPENIA" "LACO"       "DOR_RETRO"
[26] "DIABETES"   "HEMATOLOG"  "HEPATOPAT"  "RENAL"      "HIPERTENSA"
[31] "ACIDO_PEPT" "AUTO_IMUNE" "HOSPITALIZ" "DT_INTERNA" "CLASSI_FIN"
[36] "CLINC_CHIK" "EVOLUCAO"   "DT_OBITO"   "age"

In [25]:
# ID_OCUPA_N seems to not be filled consistently
# it refers to area of activity and should be filled with the same value (not aplicable) to children 
# sem_not is the epidemiologic week of notification, sem_pri is the epidemiologic week of the first symptoms
data %>% filter(age< 5) %>% count(ID_OCUPA_N) %>% slice(1:15)
data %>% select(-c(ID_OCUPA_N, SEM_NOT)) -> data

   ID_OCUPA_N n
1             2161
2  000000        2
3  141405        1
4  141410        1
5  223104        1
6  223115        1
7  2231F9        1
8  223208        1
9  223410        1
10 223505        4
11 231205        1
12 231305        1
13 234624        1
14 234705        1
15 241005        1

In [26]:
# remove patients older than 110 years old 
data %>% filter(age < 111) -> data

# remove patients younger than 16 years old
data %>% filter(age > 11) -> data

data %>% dim

[1] 65931    37

In [27]:
data %>% dim

data %>% count(EVOLUCAO)
data %>% count(HOSPITALIZ)

[1] 65931    37

  EVOLUCAO n
1  1       57068
2  2          26
3  3         119
4  4          15
5  9        4711
6 NA        3992

  HOSPITALIZ n
1  1          1993
2  2         39536
3  9          1410
4 NA         22992

In [28]:
# remove patients without sex information

data %>% count(CS_SEXO)
data %>% filter(CS_SEXO == 'F' | CS_SEXO == 'M') %>% count(CS_SEXO)
data %>% filter(CS_SEXO == 'F' | CS_SEXO == 'M') -> data
data %>% dim

# create a new column with numeric values

data %>% mutate(sex = if_else(CS_SEXO == 'M', 0, 1)) %>% count(sex)
data %>% mutate(sex = if_else(CS_SEXO == 'M', 0, 1)) -> data

# remove the former column
data %>% select(-CS_SEXO) -> data

data %>% dim

  CS_SEXO n
1 F       40530
2 I          65
3 M       25336

  CS_SEXO n
1 F       40530
2 M       25336

[1] 65866    37

  sex n
1 0   25336
2 1   40530

[1] 65866    37

In [29]:
data %>% count(EVOLUCAO)
data %>% count(HOSPITALIZ)

data %>% dim

  EVOLUCAO n
1  1       57032
2  2          26
3  3         119
4  4          15
5  9        4691
6 NA        3983

  HOSPITALIZ n
1  1          1990
2  2         39512
3  9          1407
4 NA         22957

[1] 65866    37

In [30]:
# check the column pregnancy for each sex
# transform na values in the column pregnancy in 0 (not pregnant)

data %>% count(CS_GESTANT)

data %>% filter(sex == 1) %>% count(CS_GESTANT)

data %>% filter(sex == 0) %>% count(CS_GESTANT)

data %>% mutate(CS_GESTANT = if_else(is.na(CS_GESTANT), 0, CS_GESTANT)) %>% count(CS_GESTANT)

data %>% mutate(CS_GESTANT = if_else(is.na(CS_GESTANT), 0, CS_GESTANT)) -> data

  CS_GESTANT n
1  1           388
2  2           513
3  3           500
4  4           139
5  5         26241
6  6         29921
7  9          8152
8 NA            12

  CS_GESTANT n
1  1           388
2  2           513
3  3           500
4  4           139
5  5         26241
6  6          4585
7  9          8152
8 NA            12

  CS_GESTANT n
1 6          25336

  CS_GESTANT n
1 0             12
2 1            388
3 2            513
4 3            500
5 4            139
6 5          26241
7 6          29921
8 9           8152

In [31]:
# transform the column pregnant in binary, orignally diferent values refer to difernt stages on pregnancy

data %>% mutate(pregnant = if_else((CS_GESTANT == 1 | 
                               CS_GESTANT == 2 | 
                               CS_GESTANT == 3 | 
                               CS_GESTANT == 4), 1, 0)) %>% count(pregnant)


data %>% mutate(pregnant = if_else((CS_GESTANT == 1 | 
                               CS_GESTANT == 2 | 
                               CS_GESTANT == 3 | 
                               CS_GESTANT == 4), 1, 0)) -> data

data %>% select(-CS_GESTANT) -> data

  pregnant n
1 0        64326
2 1         1540

In [32]:
# remove unknown race, or na values

data %>% count(CS_RACA)

data %>% filter(!is.na(CS_RACA)) %>% filter(CS_RACA < 9) %>% count(CS_RACA)

data %>% filter(!is.na(CS_RACA)) %>% filter(CS_RACA < 9) -> data

data %>% dim

  CS_RACA n
1 1       11391
2 2        4773
3 3         721
4 4       32831
5 5         183
6 9       15967

  CS_RACA n
1 1       11391
2 2        4773
3 3         721
4 4       32831
5 5         183

[1] 49899    37

In [33]:
data %>% count(EVOLUCAO)
data %>% count(HOSPITALIZ)

data %>% dim

  EVOLUCAO n
1  1       43916
2  2          22
3  3         100
4  4          13
5  9        2885
6 NA        2963

  HOSPITALIZ n
1  1          1787
2  2         31993
3  9           976
4 NA         15143

[1] 49899    37

In [34]:
# check year of schooling. 9 = unknown. 
data %>% count(CS_ESCOL_N)

data$CS_ESCOL_N[data$CS_ESCOL_N == 9] <- NA

data %>% count(CS_ESCOL_N)

   CS_ESCOL_N n
1   0           645
2   1          2303
3   2          1373
4   3          3532
5   4          2214
6   5          3154
7   6          9787
8   7          1218
9   8          3277
10  9         14750
11 NA          7646

   CS_ESCOL_N n
1   0           645
2   1          2303
3   2          1373
4   3          3532
5   4          2214
6   5          3154
7   6          9787
8   7          1218
9   8          3277
10 NA         22396

In [35]:
# how many groups by age, race, city and sex
data %>% group_by(age, CS_RACA, ID_MN_RESI, sex) %>% n_groups

# create a new column with the average
data %>% group_by(age, CS_RACA, ID_MN_RESI, sex) %>% mutate(average = mean(CS_ESCOL_N, na.rm=TRUE)) %>% 
    ungroup -> data

# when CS_ESCOL_N is na change by the average
data %>% mutate(CS_ESCOL_N = if_else((is.na(CS_ESCOL_N)), round(average), CS_ESCOL_N)) %>% count(CS_ESCOL_N)
data %>% mutate(CS_ESCOL_N = if_else((is.na(CS_ESCOL_N)), round(average), CS_ESCOL_N)) -> data
data %>% select(-average) -> data

[1] 26898

   CS_ESCOL_N n
1    0          730
2    1         2653
3    2         1802
4    3         4427
5    4         3783
6    5         5445
7    6        13291
8    7         1775
9    8         3774
10 NaN        12219

In [36]:
# create a new column with the average
data %>% group_by(age, CS_RACA, sex) %>% mutate(average = mean(CS_ESCOL_N, na.rm=TRUE)) %>% 
    ungroup -> data

# when CS_ESCOL_N is na change by the average
data %>% mutate(CS_ESCOL_N = if_else((is.na(CS_ESCOL_N)), round(average), CS_ESCOL_N)) %>% count(CS_ESCOL_N)
data %>% mutate(CS_ESCOL_N = if_else((is.na(CS_ESCOL_N)), round(average), CS_ESCOL_N)) -> data
data %>% select(-average) -> data

   CS_ESCOL_N n
1    0          765
2    1         2764
3    2         2183
4    3         5749
5    4         6031
6    5        10184
7    6        16486
8    7         1810
9    8         3790
10 NaN          137

In [37]:
data %>% select(-ID_MN_RESI) -> data

In [38]:
# if is still na, drop it

data %>% count(CS_ESCOL_N)

data %>% filter(!(is.na(CS_ESCOL_N))) -> data

   CS_ESCOL_N n
1    0          765
2    1         2764
3    2         2183
4    3         5749
5    4         6031
6    5        10184
7    6        16486
8    7         1810
9    8         3790
10 NaN          137

In [39]:
data %>% count(EVOLUCAO)
data %>% count(HOSPITALIZ)

data %>% dim

  EVOLUCAO n
1  1       43797
2  2          22
3  3         100
4  4          12
5  9        2880
6 NA        2951

  HOSPITALIZ n
1  1          1785
2  2         31913
3  9           969
4 NA         15095

[1] 49762    36

In [40]:
# check the presence of na's inside the columns of symptoms and comorbities
sum(is.na(data %>% select(FEBRE:AUTO_IMUNE)))

[1] 42

In [41]:
data %>% filter(!is.na(FEBRE)) -> teste
sum(is.na(teste %>% select(FEBRE:AUTO_IMUNE)))

[1] 0

In [42]:
data %>% filter(!is.na(FEBRE)) -> data

data %>% dim
data %>% count(EVOLUCAO)
data %>% count(HOSPITALIZ)

[1] 49760    36

  EVOLUCAO n
1  1       43795
2  2          22
3  3         100
4  4          12
5  9        2880
6 NA        2951

  HOSPITALIZ n
1  1          1785
2  2         31913
3  9           969
4 NA         15093

In [43]:
# the value 2 means the non-occurrence of a symptom, change this to 0

data %>% select(FEBRE:AUTO_IMUNE, HOSPITALIZ) -> symptoms
data %>% select(!(FEBRE:AUTO_IMUNE)) %>% select(-c(HOSPITALIZ)) -> others

symptoms %>% head

symptoms <- symptoms %>%
  mutate_all(~ ifelse(. == 2, 0, .))

symptoms %>% head

symptoms %>% cbind(others) -> data

  FEBRE MIALGIA CEFALEIA EXANTEMA VOMITO NAUSEA DOR_COSTAS CONJUNTVIT ARTRITE
1 1     1       1        2        2      2      1          2          2
2 2     2       2        2        2      2      2          2          2
3 1     1       1        1        1      2      2          2          2
4 2     2       2        2        2      2      2          2          2
5 2     2       2        2        2      2      2          2          2
6 1     1       1        2        2      2      1          2          2
  ARTRALGIA ⋯ LACO DOR_RETRO DIABETES HEMATOLOG HEPATOPAT RENAL HIPERTENSA
1 2         ⋯ 1    2         2        2         2         2     2
2 2         ⋯ 2    2         2        2         2         2     2
3 2         ⋯ 2    2         2        2         2         2     2
4 2         ⋯ 2    2         2        2         2         2     2
5 2         ⋯ 2    2         2        2         2         2     2
6 2         ⋯ 2    2         2        2         2         2     2
  ACIDO_PEPT AUTO_IMUNE HOSPITALIZ
1 2          2           2
2 2          2           2
3 2          2          NA
4 2          2           2
5 2          2           2
6 2          2           2

  FEBRE MIALGIA CEFALEIA EXANTEMA VOMITO NAUSEA DOR_COSTAS CONJUNTVIT ARTRITE
1 1     1       1        0        0      0      1          0          0
2 0     0       0        0        0      0      0          0          0
3 1     1       1        1        1      0      0          0          0
4 0     0       0        0        0      0      0          0          0
5 0     0       0        0        0      0      0          0          0
6 1     1       1        0        0      0      1          0          0
  ARTRALGIA ⋯ LACO DOR_RETRO DIABETES HEMATOLOG HEPATOPAT RENAL HIPERTENSA
1 0         ⋯ 1    0         0        0         0         0     0
2 0         ⋯ 0    0         0        0         0         0     0
3 0         ⋯ 0    0         0        0         0         0     0
4 0         ⋯ 0    0         0        0         0         0     0
5 0         ⋯ 0    0         0        0         0         0     0
6 0         ⋯ 0    0         0        0         0         0     0
  ACIDO_PEPT AUTO_IMUNE HOSPITALIZ
1 0          0           0
2 0          0           0
3 0          0          NA
4 0          0           0
5 0          0           0
6 0          0           0

In [44]:
data$EVOLUCAO[data$EVOLUCAO == 1] <- 0
data$EVOLUCAO[data$EVOLUCAO == 2] <- 1

In [45]:
# only patients in the acute stage 

data %>% filter(CLINC_CHIK == 1) -> data
data %>% select(-CLINC_CHIK) -> data

In [46]:
# date of the first symptoms 

# change format
data$DT_SIN_PRI <- as.Date(data$DT_SIN_PRI)

# first and last date
data %>% select(DT_SIN_PRI) %>% arrange(DT_SIN_PRI) %>% slice(1)
data %>% select(DT_SIN_PRI) %>% arrange(desc(DT_SIN_PRI)) %>% slice(1)

  DT_SIN_PRI
1 1968-12-30

  DT_SIN_PRI
1 2021-01-02

In [47]:
data %>% count(SEM_PRI)

    SEM_PRI n
1   196901  1
2   197201  1
3   199248  1
4   200552  1
5   201307  1
6   201518  1
7   201524  1
8   201532  1
9   201548  1
10  201602  2
11  201603  1
12  201605  1
13  201617  1
14  201701  1
15  201709  2
16  201719  1
17  201747  1
18  201809  1
19  201816  1
20  201826  1
21  201827  1
22  201828  1
23  201838  1
24  201850  1
25  201901  8
26  201902  3
27  201903  4
28  201904  1
29  201905  3
30  201908  1
⋮   ⋮       ⋮
98  202024  1130
99  202025  1051
100 202026   982
101 202027  1226
102 202028  1122
103 202029   964
104 202030   888
105 202031   690
106 202032   624
107 202033   588
108 202034   466
109 202035   426
110 202036   401
111 202037   361
112 202038   329
113 202039   326
114 202040   317
115 202041   264
116 202042   256
117 202043   267
118 202044   229
119 202045   244
120 202046   212
121 202047   228
122 202048   250
123 202049   312
124 202050   273
125 202051   260
126 202052   116
127 202053    57

In [48]:
data %>% dim

[1] 36240    35

In [49]:
data %>% filter(SEM_PRI > 202000) -> data

In [50]:
data %>% mutate(SEM_PRI = SEM_PRI - 202000) %>% count(SEM_PRI)

   SEM_PRI n
1   1       545
2   2       680
3   3       758
4   4       804
5   5       878
6   6       830
7   7       949
8   8       803
9   9       749
10 10      1007
11 11       772
12 12       606
13 13       541
14 14       564
15 15       747
16 16       931
17 17      1024
18 18      1081
19 19      1236
20 20      1384
21 21      1261
22 22      1259
23 23      1278
24 24      1130
25 25      1051
26 26       982
27 27      1226
28 28      1122
29 29       964
30 30       888
31 31       690
32 32       624
33 33       588
34 34       466
35 35       426
36 36       401
37 37       361
38 38       329
39 39       326
40 40       317
41 41       264
42 42       256
43 43       267
44 44       229
45 45       244
46 46       212
47 47       228
48 48       250
49 49       312
50 50       273
51 51       260
52 52       116
53 53        57

In [51]:
data %>% colnames
data %>% dim

 [1] "FEBRE"      "MIALGIA"    "CEFALEIA"   "EXANTEMA"   "VOMITO"
 [6] "NAUSEA"     "DOR_COSTAS" "CONJUNTVIT" "ARTRITE"    "ARTRALGIA"
[11] "PETEQUIA_N" "LEUCOPENIA" "LACO"       "DOR_RETRO"  "DIABETES"
[16] "HEMATOLOG"  "HEPATOPAT"  "RENAL"      "HIPERTENSA" "ACIDO_PEPT"
[21] "AUTO_IMUNE" "HOSPITALIZ" "SG_UF_NOT"  "ID_UNIDADE" "DT_SIN_PRI"
[26] "SEM_PRI"    "CS_RACA"    "CS_ESCOL_N" "DT_INTERNA" "CLASSI_FIN"
[31] "EVOLUCAO"   "DT_OBITO"   "age"        "sex"        "pregnant"

[1] 35546    35

In [52]:
colnames(data) <- c("fever", 'myalgia','headache',
                  'exanthema', 'vomiting','nausea',
                  'back_pain','conjunctivitis', 'arthritis', 
                  'arthralgia', 'petechiae', 'leukopenia', 
                  'lasso_prove', 'retro_orbital_pain', 'diabetes', 
                  'hematological_diseases', 'hepatopathies', 'chronic_kidney_disease', 
                  'arterial_hypertension', 'acid_peptic_disease', 'autoimmune_diseases',
                  'hospitalization','id_state','id_place',
                  'dt_first_symptoms', 'epidemiological_week', 
                  'race', 'schooling_years', 'dt_hospitalization', 
                  'chikungunya', 'death', 'dt_death', 
                  'age', 'sex', 'pregnancy')

In [53]:
data %>% write_csv('clean_chikungunya_20.csv')

# Dataset1 - predicting hospitalization

In [64]:
data <- read.csv('clean_chikungunya_20.csv')

# only confirmed cases
data %>% filter(chikungunya == 13) -> data
data %>% select(-chikungunya) -> data

In [65]:
data %>% colnames

 [1] "fever"                  "myalgia"                "headache"
 [4] "exanthema"              "vomiting"               "nausea"
 [7] "back_pain"              "conjunctivitis"         "arthritis"
[10] "arthralgia"             "petechiae"              "leukopenia"
[13] "lasso_prove"            "retro_orbital_pain"     "diabetes"
[16] "hematological_diseases" "hepatopathies"          "chronic_kidney_disease"
[19] "arterial_hypertension"  "acid_peptic_disease"    "autoimmune_diseases"
[22] "hospitalization"        "id_state"               "id_place"
[25] "dt_first_symptoms"      "epidemiological_week"   "race"
[28] "schooling_years"        "dt_hospitalization"     "death"
[31] "dt_death"               "age"                    "sex"
[34] "pregnancy"

In [66]:
data %>% count(hospitalization)

data %>% dim

  hospitalization n
1  0              18837
2  1                640
3  9                569
4 NA               8469

[1] 28515    34

In [67]:
# remove patients without information of hospitalization

data %>% count(hospitalization)

data %>% filter(hospitalization == 1 | hospitalization == 0) -> data

data %>% dim

  hospitalization n
1  0              18837
2  1                640
3  9                569
4 NA               8469

[1] 19477    34

In [68]:
# create a column with the number of days between the disease investigation and death

data$dt_hospitalization <- as.Date(data$dt_hospitalization)
data$dt_hospitalization <- as.Date(data$dt_hospitalization)

data %>% mutate(days = difftime(dt_hospitalization, dt_first_symptoms, units = 'days')) -> data

data$days <- as.numeric(data$days)

# remove patients hospitalized more than 15 days after first sympthoms

data %>% filter((days >= 0 & days < 16)| is.na(days)) -> data

data %>% count(days)

data %>% select(-days) -> data

   days        n
1   0.00000000    33
2   0.04166667    55
3   1.00000000    29
4   1.04166667    43
5   2.00000000    24
6   2.04166667    32
7   3.00000000    14
8   3.04166667    32
9   4.00000000    14
10  4.04166667    19
11  5.00000000    17
12  5.04166667    12
13  6.00000000    12
14  6.04166667    19
15  7.00000000    12
16  7.04166667    16
17  8.00000000     2
18  8.04166667    12
19  9.00000000     7
20  9.04166667     7
21 10.00000000     5
22 10.04166667     6
23 11.00000000     2
24 11.04166667     1
25 12.00000000     2
26 13.00000000     3
27 13.04166667     3
28 14.00000000     3
29 14.04166667     4
30 15.00000000     2
31 15.04166667     7
32          NA 18961

In [69]:
# remove non-hospitalized patients that died
data %>% filter(hospitalization == 0) %>% count(death)

  death n
1  0    17391
2  1        2
3  3        1
4  4        1
5  9      929
6 NA      513

In [70]:
data %>% filter(hospitalization == 1) -> death
data %>% filter(hospitalization == 0) %>% filter(death == 0) -> data

In [71]:
data %>% rbind(death) -> data

data %>% dim 

data %>% count(hospitalization)

[1] 17964    34

  hospitalization n
1 0               17391
2 1                 573

In [72]:
data %>% select('fever','myalgia','headache','exanthema','vomiting','nausea','back_pain','conjunctivitis',
    'arthritis','arthralgia','petechiae','leukopenia','retro_orbital_pain','diabetes','arterial_hypertension',
    'id_state','id_place','epidemiological_week','race','schooling_years','age','sex','pregnancy',
                'hospitalization') -> data

In [73]:
data %>% dim

[1] 17964    24

In [74]:
data %>% write_csv('chikungunya_hospitalization_20.csv')

# Dataset2 - predicting the diagnose

In [75]:
data <- read.csv('clean_chikungunya_20.csv')

# only confirmed cases
data %>% count(chikungunya)

  chikungunya n
1  5           7031
2 13          28515

In [76]:
data$chikungunya[data$chikungunya == 13] <- 1
data$chikungunya[data$chikungunya == 5] <- 0

In [77]:
data %>% colnames

 [1] "fever"                  "myalgia"                "headache"
 [4] "exanthema"              "vomiting"               "nausea"
 [7] "back_pain"              "conjunctivitis"         "arthritis"
[10] "arthralgia"             "petechiae"              "leukopenia"
[13] "lasso_prove"            "retro_orbital_pain"     "diabetes"
[16] "hematological_diseases" "hepatopathies"          "chronic_kidney_disease"
[19] "arterial_hypertension"  "acid_peptic_disease"    "autoimmune_diseases"
[22] "hospitalization"        "id_state"               "id_place"
[25] "dt_first_symptoms"      "epidemiological_week"   "race"
[28] "schooling_years"        "dt_hospitalization"     "chikungunya"
[31] "death"                  "dt_death"               "age"
[34] "sex"                    "pregnancy"

In [78]:
data %>% select('fever','myalgia','headache','exanthema','vomiting','nausea','back_pain','conjunctivitis',
    'arthritis','arthralgia','petechiae','leukopenia','lasso_prove','retro_orbital_pain','diabetes',
    'arterial_hypertension','id_state','id_place','epidemiological_week','race', 'schooling_years','chikungunya', 
    'age','sex','pregnancy') -> data

In [79]:
data %>% dim

[1] 35546    25

In [80]:
data %>% colnames %>% as.list

[[1]]
[1] "fever"

[[2]]
[1] "myalgia"

[[3]]
[1] "headache"

[[4]]
[1] "exanthema"

[[5]]
[1] "vomiting"

[[6]]
[1] "nausea"

[[7]]
[1] "back_pain"

[[8]]
[1] "conjunctivitis"

[[9]]
[1] "arthritis"

[[10]]
[1] "arthralgia"

[[11]]
[1] "petechiae"

[[12]]
[1] "leukopenia"

[[13]]
[1] "lasso_prove"

[[14]]
[1] "retro_orbital_pain"

[[15]]
[1] "diabetes"

[[16]]
[1] "arterial_hypertension"

[[17]]
[1] "id_state"

[[18]]
[1] "id_place"

[[19]]
[1] "epidemiological_week"

[[20]]
[1] "race"

[[21]]
[1] "schooling_years"

[[22]]
[1] "chikungunya"

[[23]]
[1] "age"

[[24]]
[1] "sex"

[[25]]
[1] "pregnancy"

In [81]:
data %>% select(fever:schooling_years,age:pregnancy,chikungunya) %>%  write_csv('chikungunya_diagnose_20.csv')

# Dataset3 - predicting death

In [83]:
data <- read.csv('clean_chikungunya_20.csv')

# only confirmed cases
data %>% filter(chikungunya == 13) -> data
data %>% select(-chikungunya) -> data

In [84]:
data %>% count(death)

data %>% dim

  death n
1  0    26219
2  1       18
3  3       11
4  4        9
5  9     1286
6 NA      972

[1] 28515    34

In [85]:
# only cured or dead by the disease

data %>% count(death)
data %>% filter(death == 1 | death == 0) -> data

data %>% dim

data %>% count(death)

  death n
1  0    26219
2  1       18
3  3       11
4  4        9
5  9     1286
6 NA      972

[1] 26237    34

  death n
1 0     26219
2 1        18

In [86]:
# filter hospitalized patients

data %>% filter(hospitalization == 1) %>% count(death)
data %>% filter(hospitalization == 1) -> data

  death n
1 0     535
2 1      15

In [87]:
# create a column with the number of days between the disease investigation and death

data$dt_hospitalization <- as.Date(data$dt_hospitalization)
data$dt_death <- as.Date(data$dt_death)

data %>% mutate(days = difftime(dt_death, dt_hospitalization, units = 'days')) -> data

data$days <- as.numeric(data$days)

data %>% count(days)

# remove patients that died after 30 days of the first sympthoms

data %>% filter(days < 31| is.na(days)) -> data

data %>% count(death)

data %>% select(-days) -> data

   days n
1   0     2
2   1     2
3   2     1
4   3     1
5   5     1
6   6     1
7  16     1
8  28     2
9  31     1
10 NA   538

  death n
1 0     535
2 1      14

In [89]:
data %>% select(c('fever','myalgia','headache','exanthema','vomiting','nausea','back_pain','arthritis',
                  'arthralgia','diabetes','chronic_kidney_disease','arterial_hypertension','id_state',
                  'id_place','epidemiological_week','race','schooling_years','death','age','sex')) -> data

In [90]:
data %>% colnames

data %>% dim

data %>% count(death)

data %>% select(fever:schooling_years, age, sex, death) -> data
data %>% write_csv('chikungunya_hospitalized_20.csv')

 [1] "fever"                  "myalgia"                "headache"
 [4] "exanthema"              "vomiting"               "nausea"
 [7] "back_pain"              "arthritis"              "arthralgia"
[10] "diabetes"               "chronic_kidney_disease" "arterial_hypertension"
[13] "id_state"               "id_place"               "epidemiological_week"
[16] "race"                   "schooling_years"        "death"
[19] "age"                    "sex"

[1] 549  20

  death n
1 0     535
2 1      14