This notebook contains the steps performed for data inspection and filtering, with the goal of creating aclassification datasets suitable for machine learning predictive models. The objective of the classification task is to predict death from the information contained in the moment of the disease notification. For more comprehensive details about the datasets, including information about data collection methods, sources, and a dictionary of variables, please visit the project repository on GitHub: https://github.com/gabivaleriano/HealthDataBR.

In [1]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.2     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.2     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [2]:
# read data
data <- read.csv('CHIKBR22.csv')

### Filter 1: remove duplicates

In [5]:
# check and remove duplicates

data %>% dim
data %>% unique %>% dim
data %>% unique -> data

[1] 269960    122

[1] 269823    122

In [6]:
# inspecting data distribution according to state

data %>% count(SG_UF_NOT)

   SG_UF_NOT n
1  11          502
2  12          207
3  13          470
4  14          427
5  15         1575
6  16          164
7  17         9139
8  21         3422
9  22        12280
10 23        80228
11 24        19533
12 25        24308
13 26        35249
14 27        11985
15 28         8294
16 29        24849
17 31        16746
18 33         1663
19 35         4977
20 41          464
21 42          848
22 43          739
23 50         4333
24 51          464
25 52         5944
26 53         1013

In [7]:
# visualize data

data %>% head
data %>% colnames

  TP_NOT ID_AGRAVO DT_NOTIFIC SEM_NOT NU_ANO SG_UF_NOT ID_MUNICIP ID_REGIONA
1 2      A92.0     2022-01-28 202204  2022   12        120033     1941
2 2      A92.0     2022-03-14 202211  2022   12        120040     1938
3 2      A92.0     2022-01-08 202201  2022   12        120033     1941
4 2      A92.0     2022-02-23 202208  2022   12        120033     1941
5 2      A92.0     2022-01-06 202201  2022   12        120040     1938
6 2      A92.0     2022-01-11 202202  2022   12        120040     1938
  ID_UNIDADE DT_SIN_PRI ⋯ PLAQ_MENOR CON_FHD COMPLICA NU_LOTE_I TP_SISTEMA
1 2000083    2022-01-23 ⋯ NA         NA      NA       NA        2
2 3689921    2022-03-01 ⋯ NA         NA      NA       NA        2
3 9542566    2022-01-07 ⋯ NA         NA      NA       NA        2
4 6568629    2022-02-16 ⋯ NA         NA      NA       NA        2
5 6119697    2022-01-05 ⋯ NA         NA      NA       NA        2
6 6119697    2022-01-10 ⋯ NA         NA      NA       NA        2
  NDUPLIC_N DT_DIGITA  CS_FLXRET FLXRECEBI MIGRADO_W
1 NA        2022-03-18 NA        NA        NA
2 NA        2022-03-21 NA        NA        NA
3 NA        2022-03-16 NA        NA        NA
4 NA        2022-03-18 NA        NA        NA
5 NA        2022-01-11 NA        NA        NA
6 NA        2022-01-19 NA        NA        NA

  [1] "TP_NOT"     "ID_AGRAVO"  "DT_NOTIFIC" "SEM_NOT"    "NU_ANO"
  [6] "SG_UF_NOT"  "ID_MUNICIP" "ID_REGIONA" "ID_UNIDADE" "DT_SIN_PRI"
 [11] "SEM_PRI"    "ANO_NASC"   "NU_IDADE_N" "CS_SEXO"    "CS_GESTANT"
 [16] "CS_RACA"    "CS_ESCOL_N" "SG_UF"      "ID_MN_RESI" "ID_RG_RESI"
 [21] "ID_PAIS"    "DT_INVEST"  "ID_OCUPA_N" "FEBRE"      "MIALGIA"
 [26] "CEFALEIA"   "EXANTEMA"   "VOMITO"     "NAUSEA"     "DOR_COSTAS"
 [31] "CONJUNTVIT" "ARTRITE"    "ARTRALGIA"  "PETEQUIA_N" "LEUCOPENIA"
 [36] "LACO"       "DOR_RETRO"  "DIABETES"   "HEMATOLOG"  "HEPATOPAT"
 [41] "RENAL"      "HIPERTENSA" "ACIDO_PEPT" "AUTO_IMUNE" "DT_CHIK_S1"
 [46] "DT_CHIK_S2" "DT_PRNT"    "RES_CHIKS1" "RES_CHIKS2" "RESUL_PRNT"
 [51] "DT_SORO"    "RESUL_SORO" "DT_NS1"     "RESUL_NS1"  "DT_VIRAL"
 [56] "RESUL_VI_N" "DT_PCR"     "RESUL_PCR_" "SOROTIPO"   "HISTOPA_N"
 [61] "IMUNOH_N"   "HOSPITALIZ" "DT_INTERNA" "UF"         "MUNICIPIO"
 [66] "TPAUTOCTO"  "COUFINF"    "COPAISINF"  "COMUNINF"   "CLASSI_FIN"
 [71] "CRITERIO"   "DOENCA_TRA" "CLINC_CHIK" "EVOLUCAO"   "DT_OBITO"
 [76] "DT_ENCERRA" "ALRM_HIPOT" "ALRM_PLAQ"  "ALRM_VOM"   "ALRM_SANG"
 [81] "ALRM_HEMAT" "ALRM_ABDOM" "ALRM_LETAR" "ALRM_HEPAT" "ALRM_LIQ"
 [86] "DT_ALRM"    "GRAV_PULSO" "GRAV_CONV"  "GRAV_ENCH"  "GRAV_INSUF"
 [91] "GRAV_TAQUI" "GRAV_EXTRE" "GRAV_HIPOT" "GRAV_HEMAT" "GRAV_MELEN"
 [96] "GRAV_METRO" "GRAV_SANG"  "GRAV_AST"   "GRAV_MIOC"  "GRAV_CONSC"
[101] "GRAV_ORGAO" "DT_GRAV"    "MANI_HEMOR" "EPISTAXE"   "GENGIVO"
[106] "METRO"      "PETEQUIAS"  "HEMATURA"   "SANGRAM"    "LACO_N"
[111] "PLASMATICO" "EVIDENCIA"  "PLAQ_MENOR" "CON_FHD"    "COMPLICA"
[116] "NU_LOTE_I"  "TP_SISTEMA" "NDUPLIC_N"  "DT_DIGITA"  "CS_FLXRET"
[121] "FLXRECEBI"  "MIGRADO_W"

In [8]:
# inspect target features

data %>% count(EVOLUCAO)
data %>% count(HOSPITALIZ)

data %>% dim

  EVOLUCAO n
1  1       215573
2  2          102
3  3          278
4  4           33
5  9         8244
6 NA        45593

  HOSPITALIZ n
1  1           6534
2  2         150163
3  9           3858
4 NA         109268

[1] 269823    122

In [9]:
# check how many regions, states and cities are present in the database

data %>% select(ID_REGIONA) %>% unique %>% dim
data %>% select(ID_MUNICIP) %>% unique %>% dim
data %>% select(SG_UF_NOT) %>% unique %>% dim
data %>% select(SG_UF) %>% unique %>% dim

data %>% select(ID_MN_RESI) %>% unique %>% dim
data %>% select(ID_PAIS) %>% unique %>% dim
data %>% select(ID_RG_RESI) %>% unique %>% dim

data %>% select(ID_UNIDADE) %>% unique %>% dim

data %>% select(UF) %>% unique %>% dim
data %>% select(MUNICIPIO) %>% unique %>% dim

[1] 309   1

[1] 2658    1

[1] 26  1

[1] 27  1

[1] 3056    1

[1] 2 1

[1] 314   1

[1] 13027     1

[1] 27  1

[1] 593   1

### Delete columns

In [10]:
# keep only id_state

data %>% select(-c(ID_REGIONA, ID_MUNICIP, SG_UF, ID_PAIS, ID_RG_RESI, UF, MUNICIPIO, ID_UNIDADE)) -> data


# monstly NA values

data %>% count(TPAUTOCTO)
data %>% count(COPAISINF)
data %>% count(COMUNINF) 

data %>% count(NU_LOTE_I)
data %>% count(TP_SISTEMA)
data %>% count(CS_FLXRET)
data %>% count(FLXRECEBI)

data %>% count(MIGRADO_W)
data %>% count(NDUPLIC_N)
data %>% count(COMPLICA)
data %>% count(CON_FHD)

data %>% count(SOROTIPO)
data %>% count(HISTOPA_N)
data %>% count(IMUNOH_N)
data %>% count(DOENCA_TRA)
data %>% count(ALRM_HIPOT)

data %>% count(TP_NOT)
data %>% count(ID_AGRAVO)
data %>% count(NU_ANO)

data %>% select(-c(TPAUTOCTO, COPAISINF, COUFINF, COMUNINF)) -> data
data %>% select(-c(NU_LOTE_I, TP_SISTEMA, CS_FLXRET, FLXRECEBI, DT_DIGITA)) -> data
data %>% select(-c(MIGRADO_W, NDUPLIC_N, COMPLICA, CON_FHD)) -> data
data %>% select(-c(SOROTIPO, HISTOPA_N, IMUNOH_N, DOENCA_TRA, ALRM_HIPOT)) -> data
data %>% select(-c(TP_NOT, ID_AGRAVO, NU_ANO)) -> data

data %>% select(ALRM_PLAQ:ALRM_LIQ) %>% summary
data %>% select(GRAV_PULSO:GRAV_ORGAO) %>% summary
data %>% select(MANI_HEMOR:PLAQ_MENOR) %>% summary

data %>% select(-c(ALRM_PLAQ:PLAQ_MENOR)) -> data 

# NU_IDADE_N refers to age in a diferent format

data %>% select(-c(NU_IDADE_N)) -> data

# this dates usually are the same and refer to the date of digitalization

data %>% select(-c(DT_NOTIFIC, DT_ENCERRA, DT_INVEST, CRITERIO)) -> data

# we adopted the final classification to consider a positive case, remove test results and test dates

data %>% select(-c(DT_CHIK_S1:RESUL_PCR_)) -> data

data %>% dim
data %>% count(EVOLUCAO)
data %>% count(HOSPITALIZ)
data %>% colnames

  TPAUTOCTO n
1 NA        269823

  COPAISINF n
1 NA        269823

  COMUNINF n
1 NA       269823

  NU_LOTE_I n
1  0             6
2 NA        269817

  TP_SISTEMA n
1  2         265294
2 NA           4529

  CS_FLXRET n
1 NA        269823

  FLXRECEBI n
1 NA        269823

  MIGRADO_W n
1 NA        269823

  NDUPLIC_N n
1  1            22
2 NA        269801

  COMPLICA n
1 NA       269823

  CON_FHD n
1 NA      269823

  SOROTIPO n
1 NA       269823

  HISTOPA_N n
1  4           198
2 NA        269625

  IMUNOH_N n
1  3            1
2  4          197
3 NA       269625

  DOENCA_TRA n
1  2              3
2 NA         269820

  ALRM_HIPOT n
1 NA         269823

  TP_NOT n
1 2      269823

  ID_AGRAVO n
1 A92.0     269823

  NU_ANO n
1 2022   269823

 ALRM_PLAQ      ALRM_VOM       ALRM_SANG      ALRM_HEMAT     ALRM_ABDOM
 Mode:logical   Mode:logical   Mode:logical   Mode:logical   Mode:logical
 NA's:269823    NA's:269823    NA's:269823    NA's:269823    NA's:269823
 ALRM_LETAR     ALRM_HEPAT     ALRM_LIQ
 Mode:logical   Mode:logical   Mode:logical
 NA's:269823    NA's:269823    NA's:269823

 GRAV_PULSO     GRAV_CONV      GRAV_ENCH      GRAV_INSUF     GRAV_TAQUI
 Mode:logical   Mode:logical   Mode:logical   Mode:logical   Mode:logical
 NA's:269823    NA's:269823    NA's:269823    NA's:269823    NA's:269823
 GRAV_EXTRE     GRAV_HIPOT     GRAV_HEMAT     GRAV_MELEN     GRAV_METRO
 Mode:logical   Mode:logical   Mode:logical   Mode:logical   Mode:logical
 NA's:269823    NA's:269823    NA's:269823    NA's:269823    NA's:269823
 GRAV_SANG      GRAV_AST       GRAV_MIOC      GRAV_CONSC     GRAV_ORGAO
 Mode:logical   Mode:logical   Mode:logical   Mode:logical   Mode:logical
 NA's:269823    NA's:269823    NA's:269823    NA's:269823    NA's:269823

 MANI_HEMOR     EPISTAXE       GENGIVO         METRO         PETEQUIAS
 Mode:logical   Mode:logical   Mode:logical   Mode:logical   Mode:logical
 NA's:269823    NA's:269823    NA's:269823    NA's:269823    NA's:269823
 HEMATURA       SANGRAM         LACO_N        PLASMATICO     EVIDENCIA
 Mode:logical   Mode:logical   Mode:logical   Mode:logical   Mode:logical
 NA's:269823    NA's:269823    NA's:269823    NA's:269823    NA's:269823
 PLAQ_MENOR
 Mode:logical
 NA's:269823

[1] 269823     38

  EVOLUCAO n
1  1       215573
2  2          102
3  3          278
4  4           33
5  9         8244
6 NA        45593

  HOSPITALIZ n
1  1           6534
2  2         150163
3  9           3858
4 NA         109268

 [1] "SEM_NOT"    "SG_UF_NOT"  "DT_SIN_PRI" "SEM_PRI"    "ANO_NASC"
 [6] "CS_SEXO"    "CS_GESTANT" "CS_RACA"    "CS_ESCOL_N" "ID_MN_RESI"
[11] "ID_OCUPA_N" "FEBRE"      "MIALGIA"    "CEFALEIA"   "EXANTEMA"
[16] "VOMITO"     "NAUSEA"     "DOR_COSTAS" "CONJUNTVIT" "ARTRITE"
[21] "ARTRALGIA"  "PETEQUIA_N" "LEUCOPENIA" "LACO"       "DOR_RETRO"
[26] "DIABETES"   "HEMATOLOG"  "HEPATOPAT"  "RENAL"      "HIPERTENSA"
[31] "ACIDO_PEPT" "AUTO_IMUNE" "HOSPITALIZ" "DT_INTERNA" "CLASSI_FIN"
[36] "CLINC_CHIK" "EVOLUCAO"   "DT_OBITO"

### Filter 2: remove patients without information of state

In [11]:
data <- data %>%  filter(!is.na(SG_UF_NOT))

data %>% dim

data %>% count(EVOLUCAO)
data %>% count(HOSPITALIZ)

[1] 269823     38

  EVOLUCAO n
1  1       215573
2  2          102
3  3          278
4  4           33
5  9         8244
6 NA        45593

  HOSPITALIZ n
1  1           6534
2  2         150163
3  9           3858
4 NA         109268

### Filter 3: remove patients without year of birth

In [12]:
data %>% filter(!is.na(ANO_NASC)) -> data

data %>% dim

data %>% count(EVOLUCAO)
data %>% count(HOSPITALIZ)

[1] 267576     38

  EVOLUCAO n
1  1       213821
2  2          100
3  3          277
4  4           33
5  9         8191
6 NA        45154

  HOSPITALIZ n
1  1           6499
2  2         149066
3  9           3837
4 NA         108174

In [13]:
# create a new column with age

data %>% mutate(age = 2022 - ANO_NASC) %>% count(age) %>% slice(1:15)
data %>% mutate(age = 2022 - ANO_NASC) %>% count(age) %>% tail(12)
data %>% mutate(age = 2022 - ANO_NASC) -> data

   age n
1   0  2289
2   1  1384
3   2  1271
4   3  1673
5   4  2007
6   5  2056
7   6  2110
8   7  2320
9   8  2371
10  9  2646
11 10  2702
12 11  2968
13 12  3005
14 13  2954
15 14  2988

    age n
105 104 5
106 105 5
107 106 2
108 107 4
109 108 2
110 109 2
111 110 1
112 111 3
113 114 1
114 115 1
115 116 1
116 117 1

### Remove columns

In [14]:
# ID_OCUPA_N seems to not be filled consistently
# it refers to area of activity and should be filled with the same value (not aplicable) to children 
# sem_not is the epidemiologic week of notification, we will adopt the epidemiologic week of the first symptoms

data %>% filter(age< 5) %>% count(ID_OCUPA_N) %>% slice(1:15)
data %>% select(-c(ID_OCUPA_N, SEM_NOT)) -> data

   ID_OCUPA_N n
1             7085
2  000000       27
3  021210        1
4  123305        1
5  141405        2
6  142105        1
7  142115        1
8  142325        1
9  221105        2
10 223115        2
11 223505        9
12 231205        4
13 231335        1
14 232115        1
15 234810        1

### Filter 4: remove patients older than 110 years and younger than 12

In [15]:
# remove patients older than 110 years old 

data %>% filter(age < 111) -> data

# remove patients younger than 16 years old

data %>% filter(age > 11) -> data

# remove the column year of birth

data %>% select(-ANO_NASC) -> data

data %>% dim
data %>% count(EVOLUCAO)
data %>% count(HOSPITALIZ)

[1] 241772     36

  EVOLUCAO n
1  1       194348
2  2           93
3  3          235
4  4           24
5  9         7146
6 NA        39926

  HOSPITALIZ n
1  1           4853
2  2         135653
3  9           3522
4 NA          97744

### Filter 5: remove patients without sex information

In [16]:
# remove patients without sex information

data %>% count(CS_SEXO)
data %>% filter(CS_SEXO == 'F' | CS_SEXO == 'M') %>% count(CS_SEXO)
data %>% filter(CS_SEXO == 'F' | CS_SEXO == 'M') -> data
data %>% dim

# create a new column with numeric values

data %>% mutate(sex = if_else(CS_SEXO == 'M', 0, 1)) %>% count(sex)
data %>% mutate(sex = if_else(CS_SEXO == 'M', 0, 1)) -> data

# remove the former column
data %>% select(-CS_SEXO) -> data

data %>% dim
data %>% count(EVOLUCAO)
data %>% count(HOSPITALIZ)

  CS_SEXO n
1              1
2 F       149729
3 I          257
4 M        91785

  CS_SEXO n
1 F       149729
2 M        91785

[1] 241514     36

  sex n
1 0    91785
2 1   149729

[1] 241514     36

  EVOLUCAO n
1  1       194162
2  2           93
3  3          235
4  4           24
5  9         7140
6 NA        39860

  HOSPITALIZ n
1  1           4850
2  2         135588
3  9           3517
4 NA          97559

In [17]:
# check the column pregnancy for each sex
# transform na values in the column pregnancy in 0 (not pregnant)

data %>% count(CS_GESTANT)

data %>% filter(sex == 1) %>% count(CS_GESTANT)

data %>% filter(sex == 0) %>% count(CS_GESTANT)

data %>% mutate(CS_GESTANT = if_else(is.na(CS_GESTANT), 0, CS_GESTANT)) %>% count(CS_GESTANT)

data %>% mutate(CS_GESTANT = if_else(is.na(CS_GESTANT), 0, CS_GESTANT)) -> data

  CS_GESTANT n
1  1           1023
2  2           1431
3  3           1335
4  4            488
5  5         104437
6  6         108815
7  9          23925
8 NA             60

  CS_GESTANT n
1  1           1023
2  2           1431
3  3           1335
4  4            488
5  5         104437
6  6          17030
7  9          23925
8 NA             60

  CS_GESTANT n
1 6          91785

  CS_GESTANT n
1 0              60
2 1            1023
3 2            1431
4 3            1335
5 4             488
6 5          104437
7 6          108815
8 9           23925

In [18]:
# transform the column pregnant in binary, orignally diferent values refer to difernt stages on pregnancy

data %>% mutate(pregnancy = if_else((CS_GESTANT == 1 | 
                               CS_GESTANT == 2 | 
                               CS_GESTANT == 3 | 
                               CS_GESTANT == 4), 1, 0)) %>% count(pregnancy)


data %>% mutate(pregnancy = if_else((CS_GESTANT == 1 | 
                               CS_GESTANT == 2 | 
                               CS_GESTANT == 3 | 
                               CS_GESTANT == 4), 1, 0)) -> data

data %>% select(-CS_GESTANT) -> data

  pregnancy n
1 0         237237
2 1           4277

### Filter 6: remove patients without race information

In [19]:
# remove unknown race, or na values

data %>% count(CS_RACA)

data %>% filter(!is.na(CS_RACA)) %>% filter(CS_RACA < 9) %>% count(CS_RACA)

data %>% filter(!is.na(CS_RACA)) %>% filter(CS_RACA < 9) -> data

data %>% dim

data %>% count(EVOLUCAO)
data %>% count(HOSPITALIZ)

  CS_RACA n
1  1       32058
2  2        8255
3  3        2796
4  4      163708
5  5         952
6  9       33742
7 NA           3

  CS_RACA n
1 1        32058
2 2         8255
3 3         2796
4 4       163708
5 5          952

[1] 207769     36

  EVOLUCAO n
1  1       168584
2  2           88
3  3          222
4  4           22
5  9         5080
6 NA        33773

  HOSPITALIZ n
1  1           4352
2  2         121217
3  9           2080
4 NA          80120

In [20]:
# check year of schooling. 9 = unknown. 

data %>% count(CS_ESCOL_N)

data$CS_ESCOL_N[data$CS_ESCOL_N == 9] <- NA

data %>% count(CS_ESCOL_N)

   CS_ESCOL_N n
1   0          2616
2   1          8215
3   2          4735
4   3         12054
5   4          8795
6   5         11195
7   6         35078
8   7          3412
9   8          9688
10  9         56393
11 NA         55588

   CS_ESCOL_N n
1   0           2616
2   1           8215
3   2           4735
4   3          12054
5   4           8795
6   5          11195
7   6          35078
8   7           3412
9   8           9688
10 NA         111981

In [21]:
# how many groups by age, race, city and sex
data %>% group_by(age, CS_RACA, ID_MN_RESI, sex) %>% n_groups

# create a new column with the average
data %>% group_by(age, CS_RACA, ID_MN_RESI, sex) %>% mutate(average = mean(CS_ESCOL_N, na.rm=TRUE)) %>% 
    ungroup -> data

# when CS_ESCOL_N is na or 9 change by the average

data %>% mutate(CS_ESCOL_N = if_else((is.na(CS_ESCOL_N)), round(average), CS_ESCOL_N)) %>% count(CS_ESCOL_N)
data %>% mutate(CS_ESCOL_N = if_else((is.na(CS_ESCOL_N)), round(average), CS_ESCOL_N)) -> data
data %>% select(-average) -> data

# if is still NA consider groups of age, race and sex

# create a new column with the average
data %>% group_by(age, CS_RACA, sex) %>% mutate(average = mean(CS_ESCOL_N, na.rm=TRUE)) %>% 
    ungroup -> data

# when CS_ESCOL_N is na change by the average
data %>% mutate(CS_ESCOL_N = if_else((is.na(CS_ESCOL_N)), round(average), CS_ESCOL_N)) %>% count(CS_ESCOL_N)
data %>% mutate(CS_ESCOL_N = if_else((is.na(CS_ESCOL_N)), round(average), CS_ESCOL_N)) -> data
data %>% select(-average) -> data

[1] 80379

   CS_ESCOL_N n
1    0         3120
2    1         9722
3    2         6822
4    3        16407
5    4        19371
6    5        28754
7    6        55185
8    7         6026
9    8        11724
10 NaN        50638

   CS_ESCOL_N n
1    0         3177
2    1         9892
3    2         9307
4    3        22640
5    4        29918
6    5        48598
7    6        66329
8    7         6073
9    8        11733
10 NaN          102

### Filter 7: remove patients without schooling information (after input by group)

In [22]:
# if is still na, drop it

data %>% count(CS_ESCOL_N)

data %>% filter(!(is.na(CS_ESCOL_N))) -> data

data %>% count(EVOLUCAO)
data %>% count(HOSPITALIZ)

data %>% dim

   CS_ESCOL_N n
1    0         3177
2    1         9892
3    2         9307
4    3        22640
5    4        29918
6    5        48598
7    6        66329
8    7         6073
9    8        11733
10 NaN          102

  EVOLUCAO n
1  1       168505
2  2           87
3  3          221
4  4           22
5  9         5075
6 NA        33757

  HOSPITALIZ n
1  1           4349
2  2         121169
3  9           2078
4 NA          80071

[1] 207667     36

### Delete columns

In [23]:
# this feature is correlated with uf 

data %>% select(-ID_MN_RESI) -> data

In [24]:
# check the presence of na's inside the columns of symptoms and comorbities

sum(is.na(data %>% select(FEBRE:AUTO_IMUNE)))

[1] 134526

In [25]:
# the value 2 means the non-occurrence of a symptom, change it to 0

data %>% select(FEBRE:AUTO_IMUNE, HOSPITALIZ) -> symptoms
data %>% select(!(FEBRE:AUTO_IMUNE)) %>% select(-c(HOSPITALIZ)) -> others

symptoms %>% head

symptoms <- symptoms %>%
  mutate_all(~ ifelse(. == 2, 0, .))

symptoms %>% head

symptoms %>% cbind(others) -> data

data$EVOLUCAO[data$EVOLUCAO == 1] <- 0
data$EVOLUCAO[data$EVOLUCAO == 2] <- 1

data %>% count(EVOLUCAO)
data %>% count(HOSPITALIZ)

data %>% dim

  FEBRE MIALGIA CEFALEIA EXANTEMA VOMITO NAUSEA DOR_COSTAS CONJUNTVIT ARTRITE
1 1     2       1        2        2      2      1          2          2
2 1     2       1        2        1      1      1          2          2
3 1     2       1        2        2      1      1          2          2
4 1     1       1        2        2      2      2          2          2
5 1     1       1        2        2      2      2          2          2
6 1     2       1        2        2      2      2          2          2
  ARTRALGIA ⋯ LACO DOR_RETRO DIABETES HEMATOLOG HEPATOPAT RENAL HIPERTENSA
1 2         ⋯ 2    2         2        2         2         2     2
2 2         ⋯ 2    2         2        2         2         2     2
3 2         ⋯ 2    2         2        2         2         2     2
4 2         ⋯ 2    2         2        2         2         2     2
5 2         ⋯ 2    2         2        2         2         2     2
6 2         ⋯ 2    2         2        2         2         2     2
  ACIDO_PEPT AUTO_IMUNE HOSPITALIZ
1 2          2          NA
2 2          2          NA
3 2          2          NA
4 2          2           2
5 2          2           2
6 2          2           2

  FEBRE MIALGIA CEFALEIA EXANTEMA VOMITO NAUSEA DOR_COSTAS CONJUNTVIT ARTRITE
1 1     0       1        0        0      0      1          0          0
2 1     0       1        0        1      1      1          0          0
3 1     0       1        0        0      1      1          0          0
4 1     1       1        0        0      0      0          0          0
5 1     1       1        0        0      0      0          0          0
6 1     0       1        0        0      0      0          0          0
  ARTRALGIA ⋯ LACO DOR_RETRO DIABETES HEMATOLOG HEPATOPAT RENAL HIPERTENSA
1 0         ⋯ 0    0         0        0         0         0     0
2 0         ⋯ 0    0         0        0         0         0     0
3 0         ⋯ 0    0         0        0         0         0     0
4 0         ⋯ 0    0         0        0         0         0     0
5 0         ⋯ 0    0         0        0         0         0     0
6 0         ⋯ 0    0         0        0         0         0     0
  ACIDO_PEPT AUTO_IMUNE HOSPITALIZ
1 0          0          NA
2 0          0          NA
3 0          0          NA
4 0          0           0
5 0          0           0
6 0          0           0

  EVOLUCAO n
1  0       168505
2  1           87
3  3          221
4  4           22
5  9         5075
6 NA        33757

  HOSPITALIZ n
1  0         121169
2  1           4349
3  9           2078
4 NA          80071

[1] 207667     35

### Filter 8: keep only patients in the acute stage of the disease

In [26]:
# only patients in the acute stage 

data %>% filter(CLINC_CHIK == 1) -> data
data %>% select(-CLINC_CHIK) -> data

data %>% count(EVOLUCAO)
data %>% count(HOSPITALIZ)

data %>% dim

  EVOLUCAO n
1  0       133267
2  1           84
3  3          102
4  4           12
5  9         2206
6 NA         3190

  HOSPITALIZ n
1  0         92458
2  1          2556
3  9          1240
4 NA         42607

[1] 138861     34

In [27]:
# date of the first symptoms 

# change format

data$DT_SIN_PRI <- as.Date(data$DT_SIN_PRI)

# first and last date

data %>% select(DT_SIN_PRI) %>% arrange(DT_SIN_PRI) %>% slice(1)
data %>% select(DT_SIN_PRI) %>% arrange(desc(DT_SIN_PRI)) %>% slice(1)

# change date format

data %>% mutate(SEM_PRI = SEM_PRI - 202200) -> data

data %>% colnames

  DT_SIN_PRI
1 2022-01-02

  DT_SIN_PRI
1 2022-12-31

 [1] "FEBRE"      "MIALGIA"    "CEFALEIA"   "EXANTEMA"   "VOMITO"
 [6] "NAUSEA"     "DOR_COSTAS" "CONJUNTVIT" "ARTRITE"    "ARTRALGIA"
[11] "PETEQUIA_N" "LEUCOPENIA" "LACO"       "DOR_RETRO"  "DIABETES"
[16] "HEMATOLOG"  "HEPATOPAT"  "RENAL"      "HIPERTENSA" "ACIDO_PEPT"
[21] "AUTO_IMUNE" "HOSPITALIZ" "SG_UF_NOT"  "DT_SIN_PRI" "SEM_PRI"
[26] "CS_RACA"    "CS_ESCOL_N" "DT_INTERNA" "CLASSI_FIN" "EVOLUCAO"
[31] "DT_OBITO"   "age"        "sex"        "pregnancy"

In [28]:
data %>% select(-CLASSI_FIN) -> data

In [30]:
colnames(data) <- c("fever", 'myalgia','headache',
                  'exanthema', 'vomiting','nausea',
                  'back_pain','conjunctivitis', 'arthritis', 
                  'arthralgia', 'petechiae', 'leukopenia', 
                  'lasso_prove', 'retro_orbital_pain', 'diabetes', 
                  'hematological_diseases', 'hepatopathies', 'chronic_kidney_disease', 
                  'arterial_hypertension', 'acid_peptic_disease', 'autoimmune_diseases',
                  'hospitalization','id_state',
                  'dt_first_symptoms', 'epidemiological_week', 'race', 
                  'schooling_years', 'dt_hospitalization',  
                  'death', 'dt_death', 'age', 
                  'sex', 'pregnancy')

### Filter 9: only patients cured or dead with the disease

1- cura (cured), 
2- óbito pelo agravo (death by chikungunya)
3- óbito por outras causas (death by other reasons)
4- óbito em investigação (death under investigation)
9- ignorado (ignored)

In [31]:
# only cured or death by the disease

data %>% count(death)
data %>% filter(death == 1 | death == 0) -> data

data %>% dim

data %>% count(death)

  death n
1  0    133267
2  1        84
3  3       102
4  4        12
5  9      2206
6 NA      3190

[1] 133351     33

  death n
1 0     133267
2 1         84

In [32]:
# create a column with the number of days between the disease investigation and death

data$dt_first_symptoms <- as.Date(data$dt_first_symptoms)
data$dt_death <- as.Date(data$dt_death)

data %>% mutate(days = difftime(dt_death, dt_first_symptoms, units = 'days')) -> data

data$days <- as.numeric(data$days)

data %>% count(days)

   days n
1   0        2
2   1        3
3   2        5
4   3        2
5   4        1
6   5        6
7   6        5
8   7        4
9   8        6
10  9        3
11 10        7
12 11        3
13 12        2
14 13        1
15 14        2
16 15        2
17 18        2
18 19        3
19 20        2
20 21        1
21 25        1
22 26        2
23 27        1
24 28        1
25 31        1
26 33        1
27 34        1
28 35        1
29 38        1
30 39        1
31 40        2
32 44        2
33 52        1
34 56        1
35 58        1
36 62        1
37 66        1
38 68        1
39 70        1
40 NA   133267

### Filter 10: remove patients that died with more than 30 days after first symptoms

In [33]:
# remove patients that died after 30 days of the first sympthoms

data %>% filter(days < 31| is.na(days)) -> data

data %>% count(death)
data %>% dim
data %>% colnames

  death n
1 0     133267
2 1         67

[1] 133334     34

 [1] "fever"                  "myalgia"                "headache"
 [4] "exanthema"              "vomiting"               "nausea"
 [7] "back_pain"              "conjunctivitis"         "arthritis"
[10] "arthralgia"             "petechiae"              "leukopenia"
[13] "lasso_prove"            "retro_orbital_pain"     "diabetes"
[16] "hematological_diseases" "hepatopathies"          "chronic_kidney_disease"
[19] "arterial_hypertension"  "acid_peptic_disease"    "autoimmune_diseases"
[22] "hospitalization"        "id_state"               "dt_first_symptoms"
[25] "epidemiological_week"   "race"                   "schooling_years"
[28] "dt_hospitalization"     "death"                  "dt_death"
[31] "age"                    "sex"                    "pregnancy"
[34] "days"

### Delete columns: not relevant for this dataset

In [34]:
data %>% select(-c(dt_first_symptoms, hospitalization, dt_hospitalization, dt_death, days)) -> data
data %>% dim

# check how many patients present a each symptoms 

colSums(data)

[1] 133334     29

                 fever                myalgia               headache
                114550                  97616                  98255
             exanthema               vomiting                 nausea
                 31015                  21492                  40945
             back_pain         conjunctivitis              arthritis
                 48426                   6407                  35177
            arthralgia              petechiae             leukopenia
                 84034                  17687                   2388
           lasso_prove     retro_orbital_pain               diabetes
                  2172                  24007                   6183
hematological_diseases          hepatopathies chronic_kidney_disease
                   639                    697                    583
 arterial_hypertension    acid_peptic_disease    autoimmune_diseases
                 13940                    779                    784
              id_state   epidemiological_week                   race
               3398526                2676846                 470323
       schooling_years                  death                    age
                636234                     67                5567655
                   sex              pregnancy
                 83301                   2279

In [35]:
# check symptoms presence in death cases

data %>% filter(death == 1) -> death
death %>% colSums

                 fever                myalgia               headache
                    57                     47                     38
             exanthema               vomiting                 nausea
                    12                     25                     23
             back_pain         conjunctivitis              arthritis
                    12                      2                     20
            arthralgia              petechiae             leukopenia
                    44                      3                      4
           lasso_prove     retro_orbital_pain               diabetes
                     0                      8                     13
hematological_diseases          hepatopathies chronic_kidney_disease
                     2                      1                      4
 arterial_hypertension    acid_peptic_disease    autoimmune_diseases
                    29                      0                      0
              id_state   epidemiological_week                   race
                  1754                   1302                    218
       schooling_years                  death                    age
                   260                     67                   3944
                   sex              pregnancy
                    36                      1

### Delete columns: remove symptoms present in less 10% of the hospitalized patients

In [36]:
selected_cols <- colnames(death)[colSums(death) > 6]

selected_cols

data <- data[, selected_cols]

data %>% colnames

data %>% dim

data %>% count(death)

 [1] "fever"                 "myalgia"               "headache"
 [4] "exanthema"             "vomiting"              "nausea"
 [7] "back_pain"             "arthritis"             "arthralgia"
[10] "retro_orbital_pain"    "diabetes"              "arterial_hypertension"
[13] "id_state"              "epidemiological_week"  "race"
[16] "schooling_years"       "death"                 "age"
[19] "sex"

 [1] "fever"                 "myalgia"               "headache"
 [4] "exanthema"             "vomiting"              "nausea"
 [7] "back_pain"             "arthritis"             "arthralgia"
[10] "retro_orbital_pain"    "diabetes"              "arterial_hypertension"
[13] "id_state"              "epidemiological_week"  "race"
[16] "schooling_years"       "death"                 "age"
[19] "sex"

[1] 133334     19

  death n
1 0     133267
2 1         67

In [37]:
# change data order

data %>% select(fever:schooling_years, age, sex, death) -> data

# write the dataset

data %>% write_csv('chikungunya_death_dataset_2022.csv')